[2017-09-12 12:25] tdurand opened #1 "Video stream format ?"
I'm jumping into all your prototypes @b-g @mmmmmmmmmmmmmmmm , it's like opening little gifts, super nice work 😄 .

Just writing this now as it comes to my head, but is there any reason you chose webm ?

Infortunately we should use mp4, if we want large browser support, like Safari Mobile (iOS). Or use both webm and mp4 fallback. But maybe it's better to stick with just mp4 for simplicity.

http://

[2017-09-12 14:04] tdurand opened #2 "Android Chrome mobile compat"
Sharing work in progress here, not really requesting any actions from you @b-g , @mmmmmmmmmmmmmmmm

As we are gonna go mobile first, I've played with the prototype with the video timecode (not the streaming one yet) on chrome mobile (android), and it wasn't working, turns out that we needed some tweaks (https://github.com/moovel/lab-traffic-cam/commit/e801429132afd86a1fa090097179b338e746c146)

- t

[2017-09-12 15:22] tdurand opened #3 "Tracking Objects Over Time (with unique ID)"
After a quick google search I've found that (something you are mostly likely aware as it's the first result on google):

https://github.com/Guanghan/ROLO
http://guanghan.info/projects/ROLO/

Not sure if that could help, I don't have much background in both machine learning and YOLO to judge

cc @b-g & @mmmmmmmmmmmmmmmm

[2017-09-13 06:33] tdurand opened #4 "Error while installing node-yolo"
I'm unable to compile the darknet fork, I get that error.

`make OPENCV=1`

Using OSX 10.11.6 .

I'll investigate further later, I wanted to try the streaming

[2017-09-13 07:13] #4 closed, assigned to nobody

[2017-09-13 14:04] tdurand opened #5 "Responsive UI behaviour"
I was playing with responsiveness with the nice prototype UI-test put together by @mmmmmmmmmmmmmmmm , it's great to be able to try with some buttons on top of the UI to feel the experience better even if the buttons and menu won't necessary be in the same place at the end.

### Problematic

I think we should settle how we want the app to behave when the viewport isn't corresponding to the video ra

[2017-09-14 07:08] b-g opened #6 "Decoding of timecode in canvas"
A though which crossed my mind was, whether we really have to decode the timecode via expensive canvas pixel magic all the time? Would it not be enough do to that exactly a single time at the very beginning (or at least just every n seconds)?

Because once the video or live stream runs ... you can get some kind of a `currentTime` form the html video element. Once we have that we can match it a sin

[2017-09-15 09:54] markus-kre opened #7 "Video stream via Websocket"
The jetson setup is now ready and its possible to send the video stream via web socket from the Jetson board. So now I think we should build something like the video-streaming example, but with a web socket receiver for video + data to test all the process. What do you think @tdurand @b-g ?

@tdurand The Jetson for you arrived today, so we will start setting it up :)

[2017-09-18 08:38] #2 closed, assigned to tdurand

[2017-09-18 09:12] tdurand opened #8 "Display on top of video implementation"
- Video + Canvas on top ?
- Video + Divs / Svg floating ?
- Video hidden + Canvas with Video ?

[2017-09-18 09:29] b-g opened #9 "darknet-net"
- [ ] try to stream a video from the `named pipe tmp file` via ffmpeg
- [ ] `yolo.weight` with just traffic related categories
- [ ] proof of concept of receiving websocket result on the backend
- [ ] darknet-net on osx, apparently works out of the box with osx 10.13

[2017-09-20 10:26] b-g opened #10 "Making cars disappear"
Quick update:
Played around with `cv.accumulatedWeight` to calculate from a video file or webcam an average image, aiming to create an car-free background image.

See `x-playground/average-image/average-video.py`

**src frame from video**
![frame-from-video](https://user-images.githubusercontent.com/480224/30638833-0f49b270-9dfd-11e7-965a-1ccaeb6cc37b.png)

**output of cv.accumulatedWeight with we

[2017-09-21 15:05] tdurand opened #11 "Vimeo pro account"
for @b-g , with a vimeo pro account:

- you can have videos that are not visible to the public
- you get some links like this one: http://player.vimeo.com/external/85569724.sd.mp4 . I think there is 4 "formats" generated for  you: HD, SD, Mobile (in mp4-H264) and HLS. (HLS could be great for iOS devices)
- there is an API for upload: https://developer.vimeo.com/api/upload/videos

So definitely a m

[2017-09-21 15:36] tdurand opened #12 "iOS safari, desktop safari compat"
To keep track of it

[2017-09-21 15:38] tdurand opened #13 "Share more footage / detections"
You can close once you share me some google drive folder 😄

[2017-09-22 10:13] markus-kre opened #14 "Title: Beat the traffic"
@b-g @tdurand  I made a bit of benchmarking for the title "beat the traffic" and found quit a lot of existing games/projects with that title:

For example:
- https://en.wikipedia.org/wiki/Beat_the_Traffic
- http://www.gahe.com/Beat-The-Traffic
- https://play.google.com/store/apps/details?id=com.janardhan.beatthetraffic

I think its something we should keep in mind...

[2017-09-25 14:04] #12 closed, assigned to tdurand

[2017-09-26 14:09] b-g opened #15 "sprite animation"
@tdurand
Here is a very old example of mine of a sprite animation ... back in the good old days of 2011 :)

`x-playground/puff-sprite-animation/drag-and-drop+puff.html`
(drag a color rect onto the dropzone and see it **puff** away)

The entire animation is just 5 frames!!

![puff-smoke](https://user-images.githubusercontent.com/480224/30864758-e50f37be-a2d4-11e7-8fc6-4a5cdcbbbd3e.png)

[2017-09-26 14:17] markus-kre opened #16 "UI design + code"
@b-g @tdurand Hi, i just wanted to update you on the current status of the ui design + code. Everything is inside the playground in UI-test. I made a rough html structure of the main page and applied the styles + some animations.

![screencast_ui](https://user-images.githubusercontent.com/12696639/30864956-8126c356-a2d5-11e7-85f5-a5f03219964c.gif)

to do:
- subpages (traffic stats + info)
- detect

[2017-09-27 10:43] markus-kre opened #17 "Beat the traffic - Game"
I built a fast prototype on how the traffic game could look like.

By hovering or clicking on the cars, their flag transforms into a balloon and the cars fly away. For each removed car you get points. If you have enough points in a specific time you arrive to the next level with more traffic intensity (-> rush hour, etc ).

![balloons](https://user-images.githubusercontent.com/12696639/30909327-f6

[2017-09-28 08:31] #11 closed, assigned to b-g

[2017-09-29 09:38] tdurand opened #18 "Prototype Roadmap"
Prototype Up to date URL: https://traffic-cam-yxqtypoqyv.now.sh/game

@mmmmmmmmmmmmmmmm  tasks:

- [x] Share the current sketch file on google drive
- [x] Upload a good variety of possible (_crops / inclination, maybe consult @b-g for ideas of footage_) on the vimeo account (saying 10 diff crops) and share the detections file associated on the google drive (with maybe the vimeo id of something to

[2017-10-05 16:02] b-g opened #20 "Own specific mobility.weight file"
FYI Engaged in a conversation with [Gene Kogan](genekogan.com) (ML in art & design guru) ... asked him about to strip down the yolo.weight from 80 to the 7 mobility related ones to gain performance.

[2017-10-06 11:49] #8 closed, assigned to tdurand

[2017-10-06 11:49] #13 closed, assigned to mmmmmmmmmmmmmmmm

[2017-10-06 11:49] #15 closed, assigned to nobody

[2017-10-09 07:58] #14 closed, assigned to b-g

[2017-10-09 08:05] #6 closed, assigned to tdurand

[2017-10-09 08:05] #10 closed, assigned to tdurand

[2017-10-09 08:05] #16 closed, assigned to mmmmmmmmmmmmmmmm

[2017-10-09 08:05] #17 closed, assigned to nobody

[2017-10-09 08:05] #18 closed, assigned to tdurand, mmmmmmmmmmmmmmmm

[2017-10-10 09:40] tdurand opened #21 "POC of Jetson standalone setup"
Minimal POC to see challenges :

- [x] Turn jetson into a wifi access point: https://devtalk.nvidia.com/default/topic/910608/setting-up-wifi-access-point-on-tx1, https://askubuntu.com/questions/762846/how-to-create-wifi-hotspot-in-ubuntu-16-04-since-ap-hotspot-is-no-longer-working be able to connect to its wifi and open a webpage
- [x] Run the meso command line that read the webcam input and ouput

[2017-10-11 10:49] tdurand opened #22 "First iteration : Game Prototype"
**UPDATE: most up to date proto: https://traffic-cam-jwcjngkuli.now.sh/level/2**

Hi !

I've put together a first level of the game  https://traffic-cam-kupohgyewv.now.sh/  . It should work on mobile + desktop.

It features some work:

- on the tracker to be able to know when things dissapear and be able to ignore some areas
- on the app I've prototyped some game concepts / animation we talked abo

[2017-10-12 13:29] markus-kre opened #23 "Jetson Standalone App Wireframe"
Hi,

Today I drew the wireframes for the web interface of the jetson app (in drive folder). The main issue that came to my head was about which additional data we should collect for further uses of the tool. Maybe it would be interesting to get knowledge and opinions from people that would possibly use this tool. I shared some thoughts around this and the kit in general. Feel free to add, edit and

[2017-10-17 06:07] #7 closed, assigned to tdurand

[2017-10-18 17:15] tdurand opened #24 "Video shooting"
I create an issue to gather the feedback  / progress on that, will be easier than in google doc, @mmmmmmmmmmmmmmmm don't feel I'm pushing you to do it now, I know that this week you don't have the time 😉. cc @b-g

### Shooting specs:

- 30 FPS
- HD: 1080p
- Shoot on a tripod
- Try to get more than just 2 min to get to have some more "calm" moments without car that help t o produce the average imag

[2017-10-30 09:11] #9 closed, assigned to b-g

[2017-11-01 06:12] tdurand opened #25 "Game design inspiration"
@b-g @mmmmmmmmmmmmmmmm

This link poped up on my feed this morning, some nice animation inspiration for the design: https://www.funkykarts.rocks/demo.html

[2017-11-02 05:10] #25 closed, assigned to nobody

[2017-11-06 08:31] tdurand opened #26 "WebGL implementation of masking"
**Goal of this:** Behind able to "mask" on the contours of the car rather than on the bounding box given by YOLO.

### State of the art

A researcher wrote a paper [comparing all the background subtraction algorithms](https://www.researchgate.net/publication/259340906_A_comprehensive_review_of_background_subtraction_algorithms_evaluated_with_synthetic_and_real_videos )

And the good thing is that

[2017-11-09 11:45] markus-kre opened #27 "Game UI design implementation"
@tdurand I uploaded the UI on drive, so you can start implementing it. If you have any questions, let me know :)!

[2017-11-13 06:55] b-g opened #28 "Game Music/Sound Design"
@mmmmmmmmmmmmmmmm @tdurand this is the tread to gather sound design related things.

Plz check gdrive project folder `traffic-cam/09_music (shared)` for the latest music/sounds. We should collect everything in the call today in the afternoon. Patric (sound designer) needs feedback for the next iteration.

[2017-11-13 10:48] tdurand opened #29 "Second iteration : Game prototype + UI + Sounds"
We have a new prototype 🔥  : https://traffic-cam-ntnwxbalnw.now.sh , tons of things done, I won't go in details, please try it !

![screen shot 2017-11-13 at 12 46 47](https://user-images.githubusercontent.com/533590/32721901-c0b17df2-c870-11e7-8f16-828140f364d0.png)

**Missing:**

- Poping carrots and bananas bonuses
- Puff / Star animation
- About and menu

**Thoughs:**

Great ! Feel really good

[2017-11-13 10:49] #22 closed, assigned to nobody

[2017-11-13 10:52] #27 closed, assigned to nobody

[2017-11-13 16:06] #5 closed, assigned to b-g, tdurand, mmmmmmmmmmmmmmmm

[2017-11-13 16:06] #1 closed, assigned to mmmmmmmmmmmmmmmm

[2017-11-13 16:31] tdurand opened #30 "Week roadmap + stuff I'm waiting on"
**From @mmmmmmmmmmmmmmmm :**

- 📹  New Videos , if you can do thursday evening latest to have a need iteration ready for monday 👌
- Design fixes : could be great by thursday evening also to integrate on the next iteration
- Introduction animation with sound synced (but need new sound from Patrick) : not high prio, can be next week if it doesn't fit to your week or you didn't get the sound

**From

[2017-11-15 10:47] tdurand opened #31 "Splitting in two repos ?"
I'm starting to work on the jetson MVP, and I think it could be a good time to have another repo and clean up stuff to have a clean:

- Repo for the game app
- Repo for the jetson standalone app

The only thing is that we would need to moves somme issue, there is a tool for that: https://github-issue-mover.appspot.com/

Or the other option is to wait and do it at the end.

What do you think @b-g

[2017-11-15 12:34] #29 closed, assigned to b-g, mmmmmmmmmmmmmmmm

[2017-11-15 12:35] #30 closed, assigned to b-g, mmmmmmmmmmmmmmmm

[2017-11-15 12:35] #28 closed, assigned to b-g

[2017-11-15 12:41] #24 closed, assigned to mmmmmmmmmmmmmmmm

[2017-11-15 12:42] #26 closed, assigned to nobody

[2017-11-15 12:51] #31 closed, assigned to tdurand

[2017-11-15 13:45] tdurand opened #32 "FYI : Reorganized this repo, created a legacy branch"
@b-g @mmmmmmmmmmmmmmmm

I've removed most of the stuff of this repo, remain the tracker app and the jetson-app that is beeing bootstraped now.

If you need stuff from the old prototypes folders, just look at the legacy branch : https://github.com/moovel/lab-traffic-cam/tree/legacy

[2017-11-15 13:45] #32 closed, assigned to nobody

[2017-11-17 15:27] #20 closed, assigned to b-g

[2017-11-17 15:49] tdurand opened #33 "YOLO optimisation"
@genekogan here is a summary of what we are doing / looking for.

### Current perfs on jetson:

Yolo with VOC weights: 5 FPS
Yolo with COCO weights: 1-2 FPS

### Min FPS needed:

Our tracker software that runs on the yolo output needs at least 5 FPS from yolo to be able to track something relatively well, so for now running COCO is not an option on the jetson

![5fps](https://user-images.githubuse

[2017-12-08 09:23] #21 closed, assigned to tdurand

[2017-12-08 11:04] tdurand opened #34 "First MVP"
We do have a first very rough MVP , it feels Christmas 🎄!

### Documentation

Worked a lot on that end, please review the readme: https://github.com/moovel/lab-traffic-cam/blob/master/README.md , normally if someones go threw all the steps he should be able to run the MVP, but I may have forgotten some steps, so could be great that someone tries to install it while I'm off to get a first feedback

[2018-02-07 10:28] #3 closed, assigned to tdurand

[2018-02-09 15:11] tdurand opened #35 "Ready for testing"
Some news on that, I've taken the MVP to a Beta product state:

- Front-end is implemented with all the styling of @mmmmmmmmmmmmmmmm  + the editor interface to draw lines.

- Server side, I've improved the reliability of the process orchestration, and implemented the logic to detect if a tracked item is intersecting any counting line. (some solid geometry skills required 😏)

- I've added some more

[2018-02-09 15:22] #34 closed, assigned to b-g, mmmmmmmmmmmmmmmm

[2018-02-14 14:13] #23 closed, assigned to nobody

[2018-03-02 11:03] florianporada opened #36 "Tracking without active browser session"
After I tested the app on the Jetson board, I noticed, that the tracking is only happening when there is an active browser session on the client.
After closing the browser window the collected data is lost.

It would be cool, to be able to trigger the process on the jetson via the client and retrieving the active tracking-process after accessing the web-interface again.

I think it would be enough

[2018-03-02 18:15] florianporada opened #37 "WiFi hotspot setup"
There seems to be an issue with the WiFi hotspot.

It is possible to set up the hotspot but the connection get's refused when trying to connect.
The issue is known in the NVIDIA forum.

For now the opendatacam has to be connected to a wifi (as client)

[2018-03-05 07:28] #33 closed, assigned to nobody

[2018-03-06 18:41] #37 closed, assigned to nobody

[2018-03-19 20:06] #36 closed, assigned to florianporada

[2018-03-19 20:07] #35 closed, assigned to mmmmmmmmmmmmmmmm

[2018-04-14 14:17] nekromoff opened #38 "video not visible while counting/tracking"
I have been experimenting with your traffic counter. Good job.

But:
Only black background is shown when counting starts. Until then, the video is visible and "lines" can be placed. Once the counting starts, video is not shown anymore.

Also, FPS is low (6 FPS) with Logitech C922 and counting from above (view point) is hardly precise. I know, multiples issues...

[2018-04-17 15:08] florianporada commented on #38
Hi @nekromoff,
thanks for testing the open-data-cam! 👍

For now, the video-stream is only visible during the setup process.

Concerning the FPS rate; at the moment we have to run on this rate because of the Jetson Board's computing power. (I assume you run the Jetson on overclocking mode?)

Keep in mind: this is still alpha. 🛠
Feel free to contribute. If you see room for improvements, just create

[2018-04-17 15:14] florianporada opened #39 "websocket server: client can't reconnect after a certain time."
After running some longtime tests I encountered a problem with the websocket connection.

[code]

The client loses the connection to the server process. Reloading the Browser results in the following error

[code]

My first guess is, that the Browser tries to connect on port __80__ instead of 8080 (or is the websocket process running on 80?)

cc @tdurand any ideas on that?

[2018-04-17 15:14] nekromoff commented on #38
Thanks for the explanation and your project!

Yes, I am running Jetson TX2 in overclocking. Is there a stronger board
that could handle higher FPS?

On Tue, Apr 17, 2018 at 5:08 PM, Florian <notifications@github.com> wrote:

[2018-04-17 15:30] florianporada commented on #38
Sure, more computing power leads probably to an higher FPS rate 😀
But we only tested it on the Jetson TX2 so far.

If you have an test rig (can be any pc) with:
- ubuntu 14.04 (or above)
- cuda
- opencv
- and the dependencies mentioned in the install guide

then you should be able to test it with a higher frame-rate.
Keep us updated! 📡

[2018-04-17 15:39] nekromoff commented on #38
Thanks, will do (and also report regarding success of traffic counting).

On Tue, Apr 17, 2018 at 5:30 PM, Florian <notifications@github.com> wrote:

[2018-04-17 15:48] florianporada commented on #39
After some testing I found out that the error above (`(node:13929)....`) is not related with the issue.
Still, after some time (2h - 3h) the open-data-cam stops counting.
The terminal log however does not provide any information. (maybe darknet or some other process is stopping..?)

[2018-04-17 17:50] tdurand commented on #39
Hum... Yeah it sounds very likely that the YOLO process (./darknet) is crashing, disconnecting from the websocket.

As it was a rough POC, if YOLO crashes, we aren't restarting it... We aren't monitoring whether it crashes also...

You could try to add more logs here: https://github.com/moovel/lab-opendatacam/blob/master/server/processes/YOLO.js#L48

for example:
[code]

Also the way I start the Y

[2018-04-19 15:10] florianporada commented on #38
I'll look into the exporting issue.

Concerning the cyclist tracking: Sometimes the trained model we use has issues with distinguishing cyclists and scooters or motorcycles. (a potential fix would be to use another/better trained model)

[2018-04-19 15:12] florianporada commented on #39
Ok, I guess the best thing to do is to see if the YOLO process is still running (or not running) when this issue occurs.
And from there see where it goes.

[2018-04-19 15:14] tdurand commented on #39
Yep, you can try to see the process running on the machine also with something like `ps -ef | grep darknet`

[2018-04-25 11:31] florianporada commented on #39
I had the camera running for 2 days now and the process did not stop.
Maybe it is a problem with PM2 because I had it running directly via `node start ...` (as in the `package.json`)

[2018-04-25 12:51] tdurand commented on #39
Hum... who knows ! But pm2 does not orchestrate the yolo process, it just start the node server that then orchestrate the yolo and webcam process. I think in your case the node process wasn't crashing so pm2 might not be the problem...

[2018-05-07 09:37] florianporada commented on #39
After another long time test I could not reproduce the issue. I think we can close this for now.

[2018-05-07 09:37] #39 closed

[2018-05-25 22:56] tdurand opened #41 "Tracked item canvas visualization"
Hi @b-g ,

I spent half-day to do a really quick and dirty POC of this, I think what would be usefull next would be to discuss it on skype and see what we do from there.  The code is on the path-visualization branch (https://github.com/moovel/lab-opendatacam/tree/path-visualization) but I think it is not really usefull for you to review this.

The current POC look like this:
![may-25-2018 19-53-59

[2018-05-27 07:11] b-g commented on #41
@tdurand Great! I won't be available the next days/week ... Will be traveling in Russia the entire week. Sorry! Will ping you once I'm back. Should have time on Jun 4 or Jun 8.

[2018-06-08 13:22] florianporada opened #42 "Screenshot of Frame + Counting-lines."
Hi @tdurand,

one quick question. Is it possible to take a screenshot of the lines + frame when the counting starts and display that as background image during the counting with opacity 0.3 or something? :)

[2018-06-08 13:35] tdurand commented on #42
Yes, you mean having the canvas drawing of the lines in background of the counters ? What do you mean by frame ?

[2018-06-08 14:43] florianporada commented on #42
By Frame I mean the webcam.jpg at the point where the user is pressing "start counting" + the canvas with the drawn lines. (like this https://imgur.com/a/BrOLtqo) on top of that maybe a slightly transparent black layer so that the counter has a good visibility.
The background should just be a reminder for the user where the lines where drawn :)

[2018-06-08 14:48] tdurand commented on #42
Ah yeah, good idea 👍

[2018-06-08 15:50] tdurand commented on #41
Todo:

- [ ] Json export of history
- [ ] Store history in database , maybe nedb https://github.com/louischatriot/nedb instead of in node.js memory (RAM) to avoid node.js crashing after a few days
- [ ] Properly integrate the canvas rendering in its slide

[2018-06-11 16:37] tdurand commented on #41
Ping @florianporada  , I've implemented everything we discussed on friday.

Please note I didn't get the time to try it on my jetson, I think this should work as I didn't touch any core things like YOLO or webcam stream... But yeah, you never now, so if this bugs, just ping me and I'll run it on my jetson first.

I've saved the previous state of the software on the v1 branch in case we want to rev

[2018-06-11 16:56] florianporada commented on #42
Hi @tdurand, I just checked the version and found some issues.

When I'm creating the counting-lines, I have to press the "start counting" button 5(ish) times in order to switch to the counting mode. In the DOM inspector I can see, that everytime I click the button, a new element with a screenshot gets added.

The screenshot however is not being displayed in the counting screen :( ... I added some

[2018-06-11 16:58] florianporada commented on #41
see https://github.com/moovel/lab-opendatacam/issues/42

[2018-06-11 18:43] tdurand commented on #42
Will fix tomorrow !

[2018-06-12 07:58] tdurand commented on #42
@florianporada it should work now, it was a cross origin mess when doing things from client, I'm doing it from server-side now it's much cleaner.

[2018-06-12 07:58] tdurand commented on #42
Don't forget to run npm install I've added a new dependency

[2018-06-12 08:01] b-g commented on #41
Great! Looking forward to see it. Only comment ...

I would vote not to clear the canvas on a navigation event, to keep it consistently with an erase via time mechanism e.g. to paint every nth frame a very transparent rect with the background color across the entire screen. That way it will always show a visualisation of the "past" of the duration x.

[2018-06-12 09:11] florianporada commented on #42
Thanks 👍 I'll test it ASAP 🙂

[2018-06-12 09:52] tdurand commented on #41
👍 , I did a first shot at your idea, drawing a 0.3 opacity rect every minute, it's kind of hard to know how much opacity / timing of the clearing because it will much depend of how much we are drawing.

I'll let you tweak the params here: https://github.com/moovel/lab-opendatacam/blob/master/components/shared/PathVisualization.js#L27 and timing here: https://github.com/moovel/lab-opendatacam/blob/

[2018-06-12 14:53] florianporada commented on #42
@tdurand, I just tested the new version (removed node_modules, reinstalled and built it).

In the counting view, the webcam-frame is not visible. 🤔 In the path-viz-view however the frame is visible . 🙂.. I'm not sure, if the frame should be stretched or not. I think when it is displayed in the counting view it can be stretched to fit the screen-dimensions but the on the path-viz the frame has to a

[2018-06-12 15:08] tdurand commented on #42
1. On it, I will stretch but having scrollbars like the view when you define the counting lines. It's normal I didn't include the background picture on the "counting" slides... will add it

2. Hum... It is, not super straithforward to do I would need to rethink a bit how it works.. but my question is more, do we want to do that ? Because it would be a big mess with the other lines.... We could may

[2018-06-12 15:16] tdurand commented on #42
ah, you may mean only on the counting view... ok trying something now 😉

[2018-06-12 15:46] tdurand commented on #42
Ok done ! you can check it out on master, no need to run npm install, also the canvas resolution is never higher than 1280x720 so if you open on a larger screen, it will look a bit pixelated... we could do something that scales the canvas content size to avoid this, but this would need maybe half day as everything is though to have a fixed canvas size.

![jun-12-2018 17-43-19](https://user-images.

[2018-06-12 16:22] b-g commented on #41
@tdurand Thanks!
@florianporada Can you tweak the parameters? I would rather draw every sec something tiny like 0.03 opacity ...

[2018-06-13 07:49] florianporada commented on #41
I'll tweak the params a bit and see how it goes. 👍

[2018-06-13 07:50] florianporada commented on #42
Wow that looks quite nice! 🤩
I'll check it out as soon as I can

[2018-06-14 13:07] florianporada opened #43 "Darknet-net fails during 'make' on the Jetson TX2"
The installation during the make build process of the `darknet-net` dependency it fails.

Quick Fix:
Change:
[code]
to:

[code]

[2018-06-14 13:13] florianporada commented on #42
I just checked the changes and now the background image looks good. 👌There are now the scrollbars showing on the screen, though. But maybe I can fix that with `overflow: hidden` or something on the background-image element.

[2018-06-14 13:19] tdurand commented on #42
Yes the scroll bars show up when the screen ratio is different than the 1280x720 ratio.

We need to keep that in order not to change the proportions, especially to keep the app usable in mobile

[2018-06-14 13:21] tdurand commented on #42
We could stretch or add overflow hidden but this would mean to maybe miss some important data if the screen ratio isn’t right.

[2018-06-14 14:12] florianporada commented on #41
So I tweaked the config a bit and the path-viz now has a quite nice "fade-out" animation style.
The only thing we need to do is, figuring out a good ratio between opacity/timing (as @tdurand mentioned)
I guess it will also depend on how many objects are tracked at a certain time.

[2018-06-14 14:14] b-g commented on #41
@florianporada Great! Happy to tweak this with you next Monday ...

[2018-06-14 15:33] florianporada commented on #42
I would suggest that we leave it like that for now, then.  😁

[2018-06-14 15:49] tdurand commented on #41
nice, yeah I figured maybe also later on it could be interesting to have a "live" view on the canvas of only the thing that are currently tracked

[2018-06-29 12:10] RoaldWikene commented on #43
hi  i dont know if it makes any difference but i added also
-gencode=arch=compute_62,code=sm_62 \
as the Jetson TX2 is compute_62 – Drive-PX2, Tegra (Jetson) TX2, Denver-based GPU
needs CUDA 8 or higher

[2018-07-02 07:03] RoaldWikene commented on #43
this bug should now be fixed in source ref: https://github.com/meso-unimpressed/darknet-net/commit/2ce405e8ff1ed41c5c774eb5b9227b9918e5450e

[2018-08-07 17:03] smacinnes opened #44 "Changing time in export.csv"
Everything is working wonderfully so far, so congratulations on that. I was wondering if there was something I could do so that the export.csv file displays local time or if it must stay at UTC. Can you help me out?

[2018-08-08 07:51] florianporada commented on #44
Hi @smacinnes,

thanks for the feedback 🙏.
If you want to use plain javascript you could edit this part of the code:
https://github.com/moovel/lab-opendatacam/blob/4fe02e51b1adf728320bb7393ebbdd1b158f8bdd/server/counter/Counter.js#L108

[code]

You also could use a library like moment.js (https://momentjs.com/docs/#/manipulating/add/) and manipulate the code:

[code]

I hope this helps 🙂✌️

[2018-08-08 14:00] smacinnes commented on #44
Hey @florianporada!

That worked! Thanks so much :-)

[2018-08-08 14:00] #44 closed

[2018-08-14 06:49] b-g commented on #41
Hi @tdurand, could you re-deploy the POC with latest changes (of https://github.com/moovel/lab-opendatacam/issues/41#issue-326684525) again? Would be great to facilitate discussion today 14°°. THX!

[2018-08-14 06:57] b-g opened #45 "Evaluate upcoming Jetson Xavier for OpenDataCam"
https://developer.nvidia.com/jetson-xavier-devkit
https://developer.nvidia.com/embedded/jetson-xavier-faq

[2018-08-14 13:11] b-g opened #46 "Review Aug"
General
- [x] Add transition (move x) between count and path view
- [x] Just have a single arrow (left or right) as there are just two views currently
- [x] Change label of rec button to "Start Tracking" or "Stop Tracking"
- [x] Style download data buttons
- [x] Show download data buttons always (also while the tacking is running)
- [x] Style current "Count again" button like the rec button

Path

[2018-08-14 13:13] b-g commented on #42
Closed. Added to new todo list in https://github.com/moovel/lab-opendatacam/issues/46.

[2018-08-14 13:13] #42 closed

[2018-08-14 13:13] b-g commented on #41
Closed. Added to new todo list in https://github.com/moovel/lab-opendatacam/issues/46.

[2018-08-14 13:13] #41 closed

[2018-08-15 08:50] rraapphhaaeell commented on #46
**Export // Data Format Tings**
I've rechecked the export after our skype yesterday and saw that it basically already has all the things needed for the counter function except for 1 thing, which is the Unique Object ID (added in example below):
- [ ]  Expert Data Output: Counter - Add Unique Vehicle ID to export:

`csv`
[code]

The other idea of adding time-stamp to X/Y Coordinates of each tracker

[2018-08-16 08:33] bmabir17 opened #47 "Couldn't connect to webcam."
I was able to install and run the webserver. But After i set the line and click "start count" button, the message "intializing neural network..." show in the screen and get stuck.
And i get the following error on the terminal
`Couldn't connect to webcam.
: No such file or directory
darknet: ./src/utils.c:256: error: Assertion `0' failed.
video file: -address
`
Using PC to test the system.
OS: ubun

[2018-08-17 07:57] florianporada commented on #47
Hi @bmabir17,

we are not using the the standard darknet.
Have a look at this block https://github.com/moovel/lab-opendatacam/blob/4fe02e51b1adf728320bb7393ebbdd1b158f8bdd/install/install.sh#L131
or here:
https://github.com/moovel/lab-opendatacam/blob/master/README.md#install-darknet-net

It is also important that you have specified the absolute path to your darknet-net files in the `config.json`

[2018-08-17 08:28] b-g commented on #45
@florianporada Thanks for the assessment! Agreed! :) We should buy one once it becomes available. I signed up for a notification at nvidia ... let's wait.

[2018-08-17 13:59] smacinnes opened #48 "Line placement bug"
When viewing the tracker on different screen sizes, the lines appear in different places. It seems that this is purely visual and does not affect the counting itself. Just thought I'd report it in case you guys weren't aware.

From my phone (where I set it up):
![opendatacammobile](https://user-images.githubusercontent.com/40182280/44269821-090db280-a20c-11e8-9d30-85d78e5dc696.jpg)

From my deskto

[2018-08-20 13:20] tdurand commented on #46
Hey @b-g @rraapphhaaeell , just a quick update, I have been sick the past few days , slowly recovering, I will make the update this week but not as soon as I expected 😉

[2018-08-21 06:43] b-g commented on #46
Hi @tdurand, oh no! Get well soon! 🤒NP. Ping us once you are back in office.

[2018-08-22 06:17] tdurand commented on #38
Closing this one:

- as stated by @florianporada video-stream is only visible during the setup process because of the computing power of the jetson board for now...

- the scooter / bicycle distinction is poor, this is due to the YOLO model beeing poor at it.. when we will have more computing power we may be able to have a stronger model for this.

[2018-08-22 06:17] #38 closed

[2018-08-22 06:18] tdurand commented on #48
Hey, thanks for you comment, we are currently working on an update that will improve the responsiveness of the UI.

[2018-08-23 08:07] tdurand commented on #48
fixed on branch 0.2 : https://github.com/moovel/lab-opendatacam/commit/ba2768b792600e66005d43d9fe3d3576cc3a5c97

[2018-08-23 08:07] #48 closed

[2018-08-24 09:39] b-g commented on #46
Hi @tdurand, many thanks for all this! Great! Feedback:

**UI**
* Find it slightly odd with the two modes in place, to force the user at the beginning to define the counter lines ... can we find a way around this without spending a lot effort on this?
* The carousel animation is nice and help to differentiate between the modes. But then I would expect the standard behaviour for the positioning of

[2018-08-24 10:15] tdurand commented on #46
@b-g many thanks for this quick feedback, I will be able to do the fixes on monday... After those fixes maybe it could be usefull to have a quick chat to discuss further changes (like having a direct access to the "path view mode" but I may try something first)

[2018-08-27 10:26] tdurand commented on #46
@b-g Did the little fixes you mentioned, please review:

- UI:
- Doc on running from video: https://github.com/moovel/lab-opendatacam/tree/0.2#-run-open-data-cam-on-a-video-file-instead-of-the-webcam-feed , I tried to make it more clear, but if it is still not good enough let me know.. I think also this is more clear when you have gone threw the steps of installing open data cam on a jetson

Regar

[2018-08-27 10:26] tdurand commented on #46
PS: link to updated UI: https://open-data-cam-aonsmxozth.now.sh/

[2018-08-27 11:48] b-g commented on #46
@tdurand Thanks + true!

Feedback:
* UI ✅. Markus just have to polish the icons ... then done.
* Would leave the flow as it is ... seems too much effort and not really a lot better.
* Docs:

Could you link up YOLO.js in the markdown file? (Or where is this file located)

Where/what is "YOUR_FILE_PATH_RELATIVE_TO_DARK_NET_FOLDER.mp4"? Is it a setting in a config/code file? Or a dummy video file tha

[2018-08-27 13:02] tdurand commented on #46
Ok ! Merged + improved again the README for the doc to run on a file, got the confusion, it should be clear now, let me know if you want further explanations: https://github.com/moovel/lab-opendatacam#-run-open-data-cam-on-a-video-file-instead-of-the-webcam-feed , or close this issue if good for you !

Yep skype is unnecessary for this, we'll be in touch via email with an update on non-public stuf

[2018-08-27 15:25] b-g commented on #46
@tdurand Great + thanks! All good now! Closed.

[2018-08-27 15:25] #46 closed

[2018-08-27 15:28] b-g opened #50 "v0.2"
- [x] polish icons @mmmmmmmmmmmmmmmm
- [x] introduce changelog @tdurand
- [x] bump version in package.json shortly before release
- [x] create release on github : https://github.com/moovel/lab-opendatacam/releases

[2018-08-27 15:32] b-g commented on #50
@tdurand It seems we forgot to do v0.1 release ... could you tag the latest commit before the path mode was introduced with v0.1?

[2018-08-28 06:33] tdurand commented on #50
Done @b-g , I've wrote the changelog directly on the release page: https://github.com/moovel/lab-opendatacam/releases

[2018-08-28 06:41] b-g commented on #50
@tdurand Thanks!!

[2018-08-29 17:22] smacinnes opened #51 "Introduce a "valid-classes" config option to restrict the tracker to some classes only"
I noticed you guys recently put out a new update. I really liked the addition of ID tags and being able to download the data without stopping tracking, I think that will be very useful, but I've got some questions.

Firstly, why are you tracking chairs now? Since this isn't shown in the UI, I was very surprised when counterData.csv had tracked my office chair.
[counterData.csv.txt](https://github.

[2018-08-31 09:13] b-g commented on #45
Order! Shipping Sep 20 2018, should arrive beginning of Oct.

[2018-09-03 07:01] tdurand commented on #51
1. Yes, we expose all the voc.names
2. Seems a bug, will check this next week
3. The doubles counting can happen depending on how the objects move in the scene, unfortunately the accuracy of YOLO trained with voc weights is not that good, and the bbox resulting can be one side of the line and be another side of the line in the next frame and counted twice... What would help would be a footage of w

[2018-09-03 07:03] tdurand commented on #51
Regarding 1. I have a doubt now I though we might have restricted the thing to the 6 classes of mobility.. I will check also if this is not a bug... because it makes sense to avoid tracking chair and stuff so the tracker isn't mislead by other irrelevant objects.

[2018-09-11 15:49] tdurand commented on #51
Back with more comments on this:

1. I confirmed we currently expose all voc.names to the tracker.. I'm not sure the best way to go here, maybe it would be good to filter out the non-mobility classes before feeding the tracker to avoid having it mixed up by some random things, @b-g some thoughts about it ?

2. I fixed the bug, it should be good now (fixed on master, released as 0.2.1)

[2018-10-02 08:08] b-g commented on #51
@tdurand Many thanks for looking into it!

I would vote to have an optional setting `valid-classes`. If set, only these classes are used and everything else with a different class is ignored. If not set, every detection is taken into account (like it is currently).

What you think guys?

[2018-10-03 10:58] tdurand commented on #51
Ok, would be a good way to close this, I guess this config should be set by default to the mobility classes. From what I remember YOLO was confuses by similar things like: scooter / bike or truck / car, but I can not remember that it was mixing things like chair / person ...

Will do.

[2018-10-09 17:02] yannikw93 opened #52 "Automatic Installation Error"
During the automatic installation an error occurs that causes parts of the installation to be skipped (cURL, git-core, nodejs, ffmpeg)... Those can be installed manually afterwards and that makes it work but maybe there is a fix for that.

I am not sure but I think the error occurs because selecting an answer in a dialogue (Configuring docker.io) is not possible which might cause problems(?). The

[2018-10-09 17:24] yannikw93 opened #53 "Improve Jetson Flashing documentation"
1) Maybe you could provide a small help for everyone who is new to Ubuntu. Something like first steps or prerequisites.

This could be

2) I found this tutorial to be very helpful with getting started and especially with flashing the Jetson so maybe you can incorporate it?

https://www.youtube.com/watch?v=D7lkth34rgM

3) Last but not least I think it would help everyone who is not used to Ubuntu i

[2018-10-29 16:37] paddygoat commented on #53
Flashing to Jetson ..... That video makes it look easy, too easy. It's not a complete tutorial by any means as many important details / problems are skipped for convenience.

[2018-10-30 15:43] florianporada commented on #53
Hi @paddygoat, what would you suggest as a solution for that problem?

@yannikw93: I updated the Readme file. The install-script part is still on the lower part though.. since it needs some more testing.

[2018-10-30 15:44] florianporada commented on #52
Hmm...Did you try using the `TABULATOR` key for navigating?

[2018-10-30 16:00] paddygoat commented on #53
Somebody, preferably someone not connected to Nvidia, should show all the Jetpack flashing pitfalls. I think I encountered quite a few: eg

- Host computer not compatible even though on same Ubuntu version - OS had to be freshly installed.

- IP addresses are slightly different for host and Jetson.

- WFI and Bluetooth internet ports are hard to identify.

- Internet to USB 'switching' should be t

[2018-11-02 09:45] yannikw93 opened #55 "Show Video Screenshot/Thumbnail when running on a video file"
When running the Open Data Cam on a file would it be possible to show a video screenshot. It would really help with drawing the lines.

Currently I can only see either the webcam feed or screenshots from previous sessions with the webcam.

[2018-11-02 09:48] yannikw93 opened #56 "Maximum number of counting lines"
Is there a reason the maximum of lines is set to 4 (or 5 can't remember which exactly it was)?

[2018-11-02 09:57] yannikw93 opened #57 "Including a waitbar other than "Initializing Neural Network""
I found it a bit difficult to figure out what is happening in the tool with just the info "Initializing Neural Network" after pushing the "Start Tracking Button".
A lot of times it gets stuck on that part (it just continues "loading" forever) and it's impossible to know whether or not it will start the tracking soon or not. It can be a bit frustratinbg not knowing where it gets stuck in that part.

[2019-01-09 13:15] tdurand commented on #57
Hello @yannikw93 , thanks for your feedback, yep it's true the UI doesn't give much feedback other than being loading forever.. For now as a general rule if it is still stuck after 45 second you can consider that there was an error and you need to restart.

Good news is that we are investing more time on this project, doing some bug fixes and hopefully improve the reliability of the project, so we

[2019-01-09 13:33] tdurand commented on #53
Renamed as "Improve jetson flashing documentation" , maybe we can add extra some guidance and common problems section in our README but the nvidia docs are pretty good once you understand you need another ubuntu machine to flash the jetson.

[2019-01-09 14:02] paddygoat commented on #53
I would have to disagree with that. The Nvidia documentation is confusing.  It seems to imply that you can perform the second stage of the flashing with the USB cable with the IP address of the USB port of the Jackson.
 In my experience, the second half of the flash process is only reliably performed with Evernet cable. Not USB cable.
My Internet set up has no Router ,  just Wi-Fi and Bluetooth. M

[2019-01-09 19:01] tdurand commented on #50
Ok, saw that @mmmmmmmmmmmmmmmm had pushed the new icons, the path thing was already working properly. Can close, the latest release is v0.2.2, published here: https://github.com/moovel/lab-opendatacam/releases/tag/v0.2.2

[2019-01-09 19:01] #50 closed

[2019-01-09 19:03] tdurand commented on #51
Done on the latest release is v0.2.2, published here: https://github.com/moovel/lab-opendatacam/releases/tag/v0.2.2.

Documentation for this config option is here: https://github.com/moovel/lab-opendatacam#track-only-specific-classes

[2019-01-09 21:00] tdurand commented on #45
First benchmark of Jetson Xavier 👀

## Running YOLO

Our YOLO implem "mesos" fork doesn't work out of the box on Xavier, running it leads to a **Seg fault** 😐 , might be because of opencv, might be because of CUDA or any other dependency, not idea on why is failing, error doesn't give any info

After a bit of research, found out that the current "state of the art" implem of YOLO (v3) seems to be t

[2019-01-10 06:40] b-g commented on #51
@tdurand Many thanks + great! Tiny detail: Find it not very self explanatory that `"VALID_CLASSES": [""]` basically means all classes or ignore nothing. Or what do you think? Maybe better? `"VALID_CLASSES": ["*"]`

[2019-01-10 08:28] syedmustafa54 opened #58 "Issues while running opendatacam"
when i run``` yarn run dev``` or``` npm run dev```
[code]

[2019-01-10 08:37] florianporada commented on #58
Hi @syedmustafa54, which weight files are you using?

[2019-01-10 08:59] syedmustafa54 commented on #58
hi @florianporada  I am using yolo-voc.weights

[2019-01-10 09:05] syedmustafa54 commented on #58
Sorry Forgot to mention I am using ubuntu 16.04 and 8gb ram 1080ti Nvidia graphics

[2019-01-10 10:39] tdurand commented on #58
I think it is due to the Websocket package which has a bug with recent node version: https://github.com/ethereum/web3.js/issues/1613

Can you give us your node version ? Type "node --version" in the command line

Will try to reproduce and fix today

[2019-01-10 10:53] syedmustafa54 commented on #58
Node - v10.15.0
npm -v
here is the log file
[code]

[2019-01-10 11:48] tdurand commented on #58
Confirmed it was because of node v10, if you use node lower than v10 it should work. I'll fix the bug for nodev10

[2019-01-10 13:31] tdurand commented on #51
Done on v0.2.3 : https://github.com/moovel/lab-opendatacam/releases/tag/v0.2.3 , doc updated.

[2019-01-10 13:31] #51 closed

[2019-01-10 13:35] tdurand commented on #58
Fixed on v0.2.3 https://github.com/moovel/lab-opendatacam/releases/tag/v0.2.3

Do a git pull + npm install + npm run build and it should fix the issue, otherwise please re-open

[2019-01-10 14:23] syedmustafa54 commented on #58
Don't know why its running without giving PATH_TO_YOLO_DARKNET
even conting objects any help
i tryed to give my path and webcam
and than npm run build
What I did
`git pull https://github.com/moovel/lab-opendatacam.git`
[code]
[code]
![image](https://user-images.githubusercontent.com/24798263/50974370-17d56880-1511-11e9-96f6-78c8488f61ef.png)

[2019-01-10 14:54] syedmustafa54 commented on #58
@tdurand  thanks, it's running but I cannot see real-time detection but its counting and drawing graph
but I have 1080ti GPU and it's using only 1gb of it how can I use it 100% is there any config to do that

[2019-01-10 15:00] tdurand commented on #58
Great !

Unfortunately we do not have the real-time detection preview implemented yet because this was aimed to be run on a Jetson TX2 which didn't support it.. (perfs were really bad)

But good news is that we are working on a new update for Jetson Xavier: https://github.com/moovel/lab-opendatacam/issues/45 , and we will probably at the option of a live preview along with new features in it. So f

[2019-01-10 15:08] #58 closed

[2019-01-11 07:47] syedmustafa54 commented on #58
yes I am getting 30 fps but is there any way to see output like shown in the [video](https://vimeo.com/260744286) on 49 sec I need to show output

[2019-01-11 10:15] tdurand commented on #58
For now it's not possible, we had an early prototype working with this but as it wasn't running smoothly on the Jetson TX2 we disabled it... But good news is we are working on a new update with this live preview 🎉 , watch this repo it should be out soon !

[2019-01-17 21:52] tdurand opened #59 "Upcoming Opendatacam update"
I have a first working version on branch 0.3. cc @b-g

📹 **Here is a demo video:** [https://youtu.be/dc5u0xeTNT4](https://youtu.be/dc5u0xeTNT4) 📹

Working on Jetson TX2 with VOC weight and Yolov2, with this implementation of YOLO: https://github.com/AlexeyAB/darknet

![screen shot 2019-01-17 at 16 37 12](https://user-images.githubusercontent.com/533590/51344008-6f765580-1a76-11e9-9f3f-368f3f704047

[2019-01-17 22:17] syedmustafa54 commented on #59
There should be a heatmap like hot zone Traffic going on this side has hot zone something like that i can help with python but i am new to node.
And path visualization  is very useful. But its fading after some time can we disable that fading the lines should never fadeout we can as option in the webpage. Drawing path some thing like this https://lh5.googleusercontent.com/proxy/UKP4VOLsSxHM7Rm3fB-

[2019-01-17 22:24] syedmustafa54 commented on #59
How can i test 0.3 i have a 0.2 version if i just clone 0.3 will it work if possible can you add small doc how to install and use 0.3

[2019-01-17 22:48] tdurand commented on #59
Thanks for your inputs , I’ll add a doc next week for now it’s really
alpha. Follow this thread for updates ;-)

Le jeu. 17 janv. 2019 à 19:24, SYED <notifications@github.com> a écrit :

[2019-01-18 18:51] tdurand commented on #59
@b-g :  Some more material for the UI/UX rethinking

Here is a more HD demo of the live stream prototype (sorry should have shut down the sound): https://my.pcloud.com/publink/show?code=XZqmSw7ZDLXmY082LpYNIdbkKS6YSRJY9bEy

More thoughts:

   - black screen at the beginning is expected, we need to put a loading screen because in this new opendatacam implem, we start YOLO at the beginning, and once

[2019-01-21 16:29] b-g opened #60 "Design & Feature Implem v2"
### Current todo list ( @tdurand edit)

- [x]  Bug: counter number when line popup is closed should sum all individual things, seems to take only cars
- [x]  Bug: FPS computation if no detections goes up like crazy
- [x]  Loading screen (init neural network) should have access to the console to see if there was any error
- [x]  Add footer in side menu
- [x]  Persists user settings
- [x]  Implement

[2019-01-22 10:45] mmmmmmmmmmmmmmmm commented on #60
Hi @tdurand @b-g , I have the second approach ready, pretty much the same what we have already but with the new features.

![mobile](https://user-images.githubusercontent.com/12696639/51530280-e165ea80-1e3a-11e9-8884-f0aa5a543969.jpg)

[2019-01-22 12:19] tdurand commented on #60
@b-g @mmmmmmmmmmmmmmmm thanks, I think there are great ideas, some more thought (not super organized), and happy to discuss everything on friday

- I think we should go for a larger rethinking of the flow like what @b-g has prototyped, as opendatacam can be used without counting anything (just to visualize paths for example), and in the future it might include even more "modes".. and counting is j

[2019-01-22 13:24] syedmustafa54 commented on #59
@tdurand
1.I tried branch 0.3 cloned [AlexeyAB](https://github.com/AlexeyAB/darknet) in the same dir.
2.`npm run build`
3.`npm start`
this is the error i am getting
[code]

[2019-01-22 16:45] b-g commented on #60
@tdurand @mmmmmmmmmmmmmmmm Many thanks! Lets let it sink and then discuss everything on Friday. Looking forward!

[2019-01-24 14:55] tdurand opened #61 "AI City Challenge"
See if we could register to this to get some interesting datasets (video) :  https://www.aicitychallenge.org/ , for our license plates challenge

+ see github repo: https://github.com/NVIDIAAICITYCHALLENGE, maybe ideas to get from there.

Could you send an email to see if we need to an University researcher to register @b-g  ?

[2019-01-24 15:20] tdurand opened #62 "Docker"
Was able to make it work 🎉 (on tx2), cc @b-g , but it has been a painful journey 🤒, good news is that we can run YOLO inside a Docker without any perf hits, runs 9-10 fps same as outside docker.. So we will be able to finally provide an easy install way for opendatacam which should be just consist of:

- Flashing Jetson
- Install docker & run docker image _(giving we succeed to make the wifi hotsp

[2019-01-24 21:20] tdurand opened #63 "License Plate"
**🚨 Disclamer: goal is to read license plate in order to uniquely identify cars and open the door to analytics from running multiple opendatacam around a city, the opendatacam project won't store any personal data and care about privacy issues, the licence plate number would be encrypted before any data storage**

One year after building our tool for license plate censoring _(which was a custom tr

[2019-01-28 14:10] b-g commented on #61
✅ Submitted

[2019-01-29 13:32] #59 closed

[2019-01-29 13:37] #45 closed

[2019-01-29 13:56] tdurand commented on #56
Will unlock more counting line in the next version

[2019-01-29 13:56] #56 closed

[2019-01-29 13:57] tdurand commented on #57
Next version will have a console that will give more feedback on potential bugs

[2019-01-29 13:57] #57 closed

[2019-01-29 13:57] tdurand commented on #55
Next version will have a live preview

[2019-01-29 13:57] #55 closed

[2019-01-29 15:07] tdurand opened #64 "Cloud deployable version / Desktop ubuntu with cuda gpu"
Had a quick look on this, seems that the smallest GPU instance on AWS is p2.xlarge, which cost 0.9 USD / hour...

But this seems overkill in term of performance to just run YOLO .. those instance are made for training or running big neural nets...

I saw there is this elastic graphic thing: https://aws.amazon.com/ec2/elastic-graphics/pricing/  which is cheaper (0.1 to 0.4 USD / h) but it's unclear

[2019-01-29 15:54] b-g commented on #64
Ok + thanks! What about the non-aws cloud GPU hosters e.g. "G0 Pay-as-you-go" https://www.paperspace.com/pricing

[2019-01-29 17:23] tdurand commented on #64
Paperspace cheapest GPU seems to be 0.51 USD / h.

Then would need to look into Google Cloud, Azure etc etc but they should be in the same range than AWS / Paperspace...

Looking into more modest GPUs, I found this provider: https://www.gpueater.com/ which seems to have less powerfull GPUs starting at 0.1 USD / h .... but would need to see if it's enough to run YOLO..

Anyway, for running opendata

[2019-01-29 17:42] tdurand commented on #53
I found this tutorial that will help a bit on the flashing part, adding it to the README: https://tm3.ghost.io/2018/07/06/setting-up-the-nvidia-jetson-tx2/

[2019-01-29 17:42] #53 closed

[2019-01-30 13:43] b-g commented on #64
Thanks. That seems rather too pricey ... however the gpueater plan "n1.p400 | 0.641 | 256 | 2GB | NVIDIA Pascal | $0.0992/h" for $71/m looks interesting. The Jeston TX2 is $500 ... so 500 / 72 = gives you 7 months of GPU cloud hosting, or?

[2019-01-30 17:58] tdurand commented on #64
Yes, would need to see if it's powerful enough to run Opendatacam..

[2019-02-01 10:58] mmmmmmmmmmmmmmmm commented on #60
@tdurand I have the next iteration ready, I think it's pretty straight forward based on what we discussed on Tuesday. Next week I will focus more on the details. Let me know what you think!

![artboard](https://user-images.githubusercontent.com/12696639/52119174-9311d200-2618-11e9-8675-dcacad3c31d5.png)

[2019-02-01 22:04] tdurand commented on #60
Thanks + great... Some quick feedback:

-  In the menu I think the on / off states should look like toggle, here it's not easy for me to understand if I click on it if I'm disabling / enabling...
-  We could use more screens states for the counting mode to sort out how it will work exactly. Remember there will be a mode when we are not recording where you define the counting lines and name them, a

[2019-02-02 15:02] shams3049 opened #65 "CSI-2 cameras"
I am working with https://www.e-consystems.com/jetson-tx2-ultra-low-light-camera-board.asp camera to allow tracking traffic at night. However without particular success, can any one guide me to the right configuration to set up CSI-2 input instead of USB camera.

[2019-02-04 09:33] b-g commented on #60
Hi @mmmmmmmmmmmmmmmm, many thanks for this! Nice first minimal iteration. I've annotated your image with more detailed comments. Happy to have a quick call on this if helpful. Could you manage another iteration for our meeting on Thursday?

![ui-concept-odc_v2-comments-bg](https://user-images.githubusercontent.com/480224/52200136-31e03d80-2868-11e9-8322-95ff77794676.png)

[2019-02-07 12:51] tdurand commented on #65
Hi, can't help much as we didn't try on something else than usb cam, from a quick search it seems that you will need to recompile OpenCV with GStreamer support and change this line of Opendatacam to use Gstreamer.

https://github.com/moovel/lab-opendatacam/blob/master/server/processes/YOLO.js#L24

change this:

`./darknet detector demo cfg/voc.data cfg/yolo-voc.cfg yolo-voc.weights -c 1 -address "

[2019-02-07 12:51] #65 closed

[2019-02-07 14:55] mmmmmmmmmmmmmmmm commented on #60
Next iteration, see you in a bit to discuss it :)!

![artboard 2](https://user-images.githubusercontent.com/12696639/52419651-c5c43a80-2af0-11e9-953f-9423eefb92e1.jpg)

[2019-02-08 15:55] jm677zz commented on #65
Please write your query to techsupport@e-consystems.com. They will provide the response for your query.

[2019-02-14 20:05] tdurand commented on #60
Some quick update, I didn't had time to have a live deployment working for you to test of the work in progress but you can run it yourself on your machine by:

- switching to the `0.3` branch
- npm install
- npm run start
- open localhost:8080

Would be nice if you can experiment a bit with it for tomorrow meeting.

If you don't have time, here is a quick screencast of the current state: https://w

[2019-02-15 09:54] mmmmmmmmmmmmmmmm commented on #60
![artboard 2](https://user-images.githubusercontent.com/12696639/52848843-05ea7500-3110-11e9-8776-c36a97ad511b.jpg)

[2019-03-01 21:57] tdurand commented on #60
Made some progress this week on this.. Since last update you can at least try the new flow for defining the counting lines (without design refined)

I need to spend ~ 1 more day to get the "invisible" stuff done, but then It would be more productive if we can have the next design iteration + the sketch file for me to implement.

Next week I have good availabilities so I aim to push 3 more days of

[2019-03-01 21:58] tdurand commented on #60
_PS: you might get mongodb error in the console by running it as I'm working on the persistence of the recording etc etc .. but the front-end should still work without it._

[2019-03-04 07:39] b-g commented on #60
Hi @tdurand, Great! I'm more or less back in office from tomorrow on. Will ping @mmmmmmmmmmmmmmmm whether a call Tue 14°° CET would be doable. Looking forward to hear the latest, B

[2019-03-04 10:35] tdurand commented on #60
From my side it's OK for a call tomorrow

[2019-03-06 21:41] tdurand commented on #60
Some quick update so we can discuss the screencast demo for monday, cc @b-g @mmmmmmmmmmmmmmmm

Here is a first screencast: https://www.youtube.com/watch?v=A-TvSjAU1pk&feature=youtu.be

Tomorrow I'll work on styling the data export panel to add it to the screencast also.

How long should the screencast be in your opinion ?

Also I found out we need to agree on some vocabulary for those counting lin

[2019-03-07 14:55] b-g commented on #60
Hi @tdurand, Great!

+/- 60sec ... max 1.5 min

Test Header Menu:
Live View, Counter, Pathfinder, Data, Console

Record button label:
Start Recording
Stop Recording

Counter:
1. Draw to define the counting zones (crossing vehicles increase counter by 1)
2. Counter name

@mmmmmmmmmmmmmmmm will post the WIP layout any minute

[2019-03-07 15:04] tdurand commented on #60
Great, I was thinking of doing the normal flow:

- launch app
- check path view
- enter counter mode
- draw line
- record
- and then show the data export panel

Sounds good ?

[2019-03-07 15:04] tdurand commented on #60
PS: I'm a bit sick since yesterday 🤒, so I might only post the final thing on the week-end

[2019-03-07 15:12] mmmmmmmmmmmmmmmm commented on #60
Hi, here is the WIP layout and a few mock-ups for the submission.

@tdurand I think the icons still need another iteration, I will then do them in 20px x 20px. But for next week I will leave them like they are, if that's fine.

![artboard](https://user-images.githubusercontent.com/12696639/53966530-a3bfd700-40f3-11e9-9c8e-ce2c41946121.jpg)

![mobile1](https://user-images.githubusercontent.com/1269

[2019-03-07 15:16] b-g commented on #60
@tdurand Oh no! Get well soon! 🤒 Flow is good IMO ✅

[2019-03-07 15:20] tdurand commented on #60
Thanks for the update, I'll try to post a screencast tomorrow looking as good as I can but it will most likely be late evening for you. But you'll have something on monday to showcase.

[2019-03-10 14:39] tdurand commented on #60
Ok , here is a 1 min screencast you can use to showcase this new version, hopefully will be useful.

Was able only to commit 2 days last week as I've been a bit sick, the UI is getting pretty complete but still things to do. Maybe a meeting late next week would be interesting, friday ?

https://my.pcloud.com/publink/show?code=XZ6XCq7ZboOirCB7Vf7ueuOF7IwNbhuA3etk

[2019-03-11 09:35] b-g commented on #60
Hi @tdurand, hope you are feeling better now! Many thanks for the video, perfect! Yes, lets catch up on Friday. See invite. Looking forward!

[2019-03-14 23:46] tdurand commented on #60
For tomorrow nothing "visual" to show in addition to the screencast, but I have the opendatacam v2 running smoothly on the jetson with the new UI... I think the agenda will mainly be:

- refining UI design
- discuss features to include / exclude for the first release of v2

[2019-03-15 09:41] b-g commented on #60
And in addition:
* [CompCars dataset](http://mmlab.ie.cuhk.edu.hk/datasets/comp_cars/index.html)
* [Automatic License Plate Recognition Based on YOLO](https://arxiv.org/abs/1802.09567)

[2019-03-19 00:25] tdurand opened #67 "Jetson nano"
New jetson : https://devblogs.nvidia.com/jetson-nano-ai-computing/

Claim to have 25 FPS with Tiny YOLO ... Let's watch more writing on it, maybe would be able to run opendatacam

[2019-03-19 00:25] tdurand commented on #67
cc @b-g

[2019-03-19 08:33] b-g commented on #67
@tdurand Nice find! Very interesting ... but I think we need at least YOLO VOC with around 12 FPS to replace the TX2, or? Waht is the FPS of YOLO tiny on the TX2?

[2019-03-19 11:41] tdurand commented on #67
I need to test this again, but from my early test with Opendatacam v1 I think TX2 was running tiny yolo around ~25 FPS .

YOLO VOC with more than 8-9 FPS is the "compat" level yes 😉

[2019-03-21 15:17] b-g opened #68 "Mapping of Yolo classes to OpenMojis"
Hi @tdurand @mmmmmmmmmmmmmmmm!

Here are all OpenMojis which are currently available:
[openmoji-black-svg.zip](https://github.com/moovel/lab-opendatacam/files/2992598/openmoji-black-svg.zip)

I think I would just vote to simply add the mapping of yolo classes to icons to the config file and copy the emoji to an assets folder.

[code]

or

[code]
Both fine for me.

[2019-03-21 16:09] tdurand commented on #68
Great thanks + agree with config 👍 .

[2019-03-22 18:28] tdurand commented on #67
Out of curiosity just tested quickly Tiny Yolo v3 on TX2 and I get 31 FPS... Direct extrapolation would give 8 FPS of nano for YOLO VOC, but yeah, architecture and hardware not the same...

I guess we should wait and see when more benchmarks comes out... Would be amazing be able to run opendatacam on it.

[2019-03-27 15:48] mmmmmmmmmmmmmmmm commented on #60
I added a few more things:
1. openmoji icons
2. adapted interface
2. fps info

@tdurand, regarding the icon size. Can we scale them to 20px in CSS, that is how I usually do it? In sketch the icons become distorted when I scale them down..

Regarding the API, lets discuss on Friday what API interface we exactly want to have, then I will include it to the interface.

![Artboard 2](https://user-image

[2019-03-27 20:56] tdurand commented on #60
Thanks 👍

- Of course you can do whatever size in the sketch file as it's vectorial then it's adapted, I just need that all the icon have a consistent proportion.

- Once you have Dark / Light mode settled, please send me the sketch file with both it it

- Yes we can discuss that on friday, but I think we would do an extra button on the right toolbar with console and data... or in the menu .. And

[2019-03-28 10:02] mmmmmmmmmmmmmmmm commented on #60
Great, thanks! @tdurand I sent you the sketch file!

[2019-03-28 17:21] tdurand commented on #67
Was able to order one today.. If delay are right should get it mid april.

[2019-03-29 10:19] b-g commented on #67
Great! Where? Sparkfun?

[2019-03-29 11:08] tdurand commented on #67
Directly on nvidia.com but in the U.S as I'm delivering to Uruguay.

[2019-03-29 12:09] tdurand opened #69 "API Documentation"
List of current APIs of the node.js opendatacam app

### Webcam: `GET /webcamstream`

Available after YOLO is started, this endpoint streams the webcam as a MJPEG stream. (streams the sequence of JPEG frames over HTTP).

_The TCP connection is not closed as long as the client wants to receive new frames and the server wants to provide new frames_

_Only support one client at a time, if another one

[2019-03-29 12:10] tdurand commented on #69
cc @b-g , an overview of the current APIs .

[2019-03-29 12:24] tdurand commented on #68
Do we have also a openmoji-white for the dark / light variation ?

Or maybe I could hack this by styling the color on runtime with currentColor: https://css-tricks.com/cascading-svg-fill-color/  and inlining the svgs in the code: https://github.com/gilbarbara/react-inlinesvg

[2019-03-30 00:50] tdurand commented on #62
_Update on this (note to myself mostly)_

After Jetpack 4.2 release lots of the stuff I had figured out changed  (but for the best 😉)

After lots of struggle I finally managed to have a docker image working again, I even tried to pull it and run it on xavier recently flashed (with only one command) and it worked 🎉 (not optimized as we will need to generate a different docker image for tx2, xavier)

[2019-03-30 21:30] tdurand commented on #67
Some things to consider when buying one, it doesn't come with power supply or memory, so you need to buy a microSD and a power supply.

I bough the 5V - 4A power supply in order to be able to run it on the max perf mode 😉

See the "What you will need section": https://elinux.org/Jetson_Nano

[2019-04-01 08:17] b-g commented on #67
Thanks + good spot! Just ordered a Nano as well ...

[2019-04-04 21:34] tdurand opened #70 "Test Open data cam 2.0.0-beta.4 on Jetson Nano - TX2"
cc @b-g @mmmmmmmmmmmmmmmm  @florianporada

### 2.0.0-beta.1 ready 🎉:

After lots of "docker" pain, I managed it ! To have a one line command install & run for opendatacam v2.

Also it runs at 12 FPS on TX2 with Yolo v2 voc weight... 4 FPS more than Opendatacam v1

[See Install Experience (30s)](https://www.youtube.com/watch?v=NwXrXHHGSgk)

[![Install open data cam](https://img.youtube.com/vi/NwXrX

[2019-04-04 21:45] tdurand commented on #70
Know issue:

Already seen that it can crash after a while, will need to investigate

[code]

[2019-04-05 06:37] b-g commented on #70
@tdurand Wow + mega! 🎉

[2019-04-05 07:47] florianporada commented on #70
@tdurand
Thanks for the update :)
It's really an improvement to the old installation process 😁
I'll give you feedback as soon as possible

[2019-04-05 08:30] mmmmmmmmmmmmmmmm commented on #70
@tdurand Wow, super cool! Thanks!

[2019-04-15 17:32] tdurand commented on #67
Before benchmark, hardware wise in order to power through the 5V - 4A and not the microUSB port you'll need to put a jumper in the J48 pin and nvidia doesn't provide this jumper: https://www.youtube.com/watch?v=jq1OqBe267A&t=127s , and here is a link to buy some jumpers: https://www.amazon.com/2-54mm-Standard-Computer-Jumper-100pack/dp/B00N552DWK/ref=sr_1_3?keywords=jumper+electronics&qid=15553495

[2019-04-15 17:33] tdurand commented on #67
![Screenshot 2019-04-15 at 14 33 22](https://user-images.githubusercontent.com/533590/56152942-746e7680-5f8b-11e9-932c-69bab0e56357.png)

[2019-04-15 21:36] tdurand commented on #67
Ok first benchmark of darknet on jetson nano:

Neural network | FPS
-- | --
YOLOv2 + VOC | ~4.5 FPS
Tiny YOLOv3 | ~17 FPS

_Note : Nvidia claims 25 FPS with tiny YOLOv3 but with the version using TensorRT https://github.com/NVIDIA-AI-IOT/deepstream_reference_apps , which is not implemented in darknet (https://github.com/AlexeyAB/darknet/issues/2019#issuecomment-444812039) I think that using deepst

[2019-04-16 07:46] b-g commented on #67
@tdurand Many thanks for the Nano investigations! Fully agree with your conclusion. 👍 Please go ahead. Have a nice week, B

[2019-04-16 22:33] tdurand opened #71 "Tensorflow.js with Node.js"
@b-g spent some more time evaluating this, summarizing relevant finding here for future work on it

### Tensorflow.js on node challenges

Tensorflow.js project is still much oriented to run inside browser, this means

- No direct webcam access via browser APIs
- Not much examples yet for node : https://github.com/tensorflow/tfjs-examples , most of the example feature how to train but not how to ru

[2019-04-17 14:13] b-g commented on #71
@tdurand Many thanks for the exploration and the nice write up! Make sense + 💯 agree! More in our next call. Thanks!

[2019-04-17 21:36] artynet opened #72 "node.js and darknet-net binding not working"
please guys take a look at my issue here :

https://github.com/meso-unimpressed/darknet-net/issues/8

basically the command string is not working because the darknet executable crashes. In addition to this,  it seem that when building for processing the video file (and then running the build), the webcam server is started anyway. Please give me some pointers about it...

Best, Arturo

[2019-04-23 06:37] b-g opened #73 "Add Open Graph Images for opendatacam repo"
https://github.blog/2019-04-17-custom-open-graph-images-for-repositories/

[2019-04-24 16:57] tdurand commented on #72
seems this issue was answered on the meso-unimpressed repo.

BTW we are working on Opendatacam v2 which will use a different implementation of darknet.

[2019-04-24 16:57] #72 closed

[2019-04-25 18:17] tdurand commented on #71
_Note: Regarding the compiling issue of tensorflow gpu node on nano, someone did post a gist of a working method: https://gist.github.com/sdeoras/533708a95a3de5ff6de1c6b018cabf6d_

[2019-04-25 19:03] tdurand commented on #69
Should use : http://apidocjs.com/

[2019-04-26 13:02] b-g commented on #70
Just document the scope of 2.0 quickly:

**2.0**
- Demo mode for online "playback" demos in website
- Emphasis on Nano
- Docker support for: Nano, TX2, Xavier and docker nvidia
- docker nvidia -> enables "cloud support"
- maybe: external ip cam input

**Out** (maybe later)
- Support of additional third party neural nets via tensorflow.js in node.js
- License plate detection

[2019-04-26 18:38] tdurand commented on #69
Integrated apidocjs to generate docs on endpoint from comments

Did a first documentation of all endpoints but will improve continously as we close the gap to v2 release.

It looks like this now: https://apidoc-dzchmakjlf.now.sh/

cc @b-g

[2019-04-26 21:41] tdurand commented on #70
Thanks @b-g !

I added a first docker image compatible with Jetson nano for testing, see README of v2: https://github.com/moovel/lab-opendatacam/tree/v2#2-install-and-start-opendatacam-3-min-

For now it will run slow at 4 FPS as it is still running YOLOv2 + VOC , but next week I'll work on making the neural network runned configurable.

[2019-04-27 14:56] tdurand opened #74 "Jetbot (DIY robot with jetson nano)"
Some random things worth sharing about jetson nano ecosystem 😉 , cc @b-g @mmmmmmmmmmmmmmmm

I just found out that nvidia released a DIY little robot with the jetson nano.

The wiki is interesting: https://github.com/NVIDIA-AI-IOT/jetbot/wiki

Some ideas for hardware integration with 3d Printed support...  https://github.com/NVIDIA-AI-IOT/jetbot/wiki/Hardware-Setup  ... Also people already 3d print

[2019-04-27 14:58] tdurand commented on #74
Some more things : https://elinux.org/Jetson_Nano#Ecosystem_Products_and_Sensors

[2019-04-29 13:04] b-g commented on #69
@tdurand Thanks + nice! Just ... https://apidoc-dzchmakjlf.now.sh/ looks quite like a "big" software project. It might be enough to simply generate with documentation.js a markdown file and use the default github style.

@mmmmmmmmmmmmmmmm @tdurand
How would you guys imagine the API docs view in the UI be integrated? Simply with an iframe and default styles?

[2019-04-29 13:23] tdurand commented on #69
I think document.js is more aimed at documenting a node / javascript API and not an REST API. I documented the "REST" API of opendatacam as the goal isn't in my opinion to be a library... But we can talk about this 😉

For integration I was more thinking of  a link "_blank" in the menu to the doc...

Let's discuss this on next meeting 😎

[2019-04-29 13:49] b-g commented on #69
OK :) Wasn't aware of the REST aspect ...

[2019-04-29 15:13] gabbyhan commented on #55
Hi,

I am having the same issue, except that when I try to run Open Data Cam on a file I only see a black screen so I have no way of knowing where to draw the lines. Also when I do draw a line, it seems to hang on "initializing neural network" forever. Any suggested fixes?

Thanks!

[2019-04-29 15:17] tdurand commented on #55
Hi @gabbyhan , thanks for you message.

We will release the v2 version of opendatacam , if you are using a Jetson TX2 or Nano you should already be able to install the 2.0.0-beta.1 , look at the https://github.com/moovel/lab-opendatacam/tree/v2#-get-started-quick-setup For docker setup for v2

Regarding your issue on v1 it seems that opendatacam has no access to the webcam, is is plugged in to you

[2019-04-29 15:19] gabbyhan commented on #55
Hi,

Sorry for not specifying. I meant I have the same issue when I am trying to run the program on an existing video file.

[2019-04-29 15:23] tdurand commented on #55
It's likely it does not succeed to read the file, could you post the stout log of the node process so I can have more info from the error ?

[2019-04-29 15:28] gabbyhan commented on #55
Sorry for my ignorance, but how can I access that?

[2019-04-29 15:32] tdurand commented on #55
If you used pm2 to start the node app, you should be able to access the logs with this command: `pm2 logs`

Or Instead of starting the app with pm2 you should start it with `npm run start` so you will see the logs in the terminal

[2019-04-29 16:00] gabbyhan commented on #55
When I start with `npm run start` this is the output:

[code]

[2019-04-29 16:01] tdurand commented on #55
You need first to stop the instance running with the pm2 process manager:

With something like this

[code]

[2019-04-29 16:08] gabbyhan commented on #55
Thanks! It worked until I went to localhost:8080 on the browser. This is the last couple of lines that were output:

[code]
I have double checked the file path many times. My video's file path is ~/libwsclient/liblo-0.29/json-c/darknet-net/Hamburg_Hall.mp4
The path that I put in "PATH_TO_YOLO_DARKNET" is "/home/nvidia/libswclient/liblo-0.29/json-c/darknet-net"
In YOLO.js (server/processes), I put

[2019-04-29 16:10] gabbyhan commented on #55
I believe I forgot to comment out the lines of code for running on a webcam in YOLO.js

[2019-04-29 16:14] gabbyhan commented on #55
I commented out the lines of code and I still get:

Please specify the path to the raw detections file
Process YOLO initialized
Process WebcamStream initialized

WebcamStream: Sub-Process Stream webcam started
WebcamStream: Sub-Process FFServer started

.....................
[video4linux2,v4l2 @ 0x47e970] Cannot open video device /dev/video1: No such file or directory
/dev/video1: No such file or

[2019-04-29 16:26] gabbyhan commented on #55
The instructions only say to uncomment the lines for running the program on an existing file (which I had already done). However, in the comments, it says to also comment the lines for running on a webcam, so I just did that as well.

[2019-04-29 16:38] gabbyhan commented on #55
I just checked and I have ffmpeg version 2.8.15 installed so I don't know why I am getting the` please specify the path to the raw detections file`

[2019-04-29 16:40] tdurand commented on #55
Could you copy paste your all the YOLO.js file code here ?

[2019-04-29 16:44] gabbyhan commented on #55
[code]

[2019-04-29 16:51] tdurand commented on #55
You configuration seem correct, did you run `npm run build` after changing the code ? You need to recompile before doing `npm run start`

Also maybe try to restart your jetson because ffserver leave some ghost behind when failing multiple time

If it still doesn't work, send me the actual error it gives you.

[2019-04-29 16:57] gabbyhan commented on #55
I had already recompiled with npm run build but I just restarted the Jetson, ran `npm run build` again, and had to stop the instance running again with `sudo pm2 stop ID`, then finally ran `npm run start`

It still gave me this error:

[code]

[2019-04-29 17:05] tdurand commented on #55
That is weird seems ffmpeg still wants to open the webcam, but please also try to install ffmpeg v3: see in the readme

[code]

[2019-04-29 17:11] gabbyhan commented on #55
I installed it again and I get the same error. I checked my ffmpeg version again and it is version 2.8.15

[2019-04-29 17:21] tdurand commented on #55
I think the issue comes from the fact you have not ffmpeg v3  installed, I'm not sure how to help you further, maybe you need to uninstall ffmpeg first, here is the complete article on how to install it: http://ubuntuhandbook.org/index.php/2017/05/install-ffmpeg-3-3-in-ubuntu-16-04-14-04/

And maybe even try ffmpeg v4 ( we didn't test with it though) : https://tecadmin.net/install-ffmpeg-on-linux/

[2019-04-29 17:22] tdurand commented on #55
also: https://blog.programster.org/ubuntu-16-04-install-ffmpeg-from-ppa

[2019-04-30 14:42] tdurand opened #75 "OpenDataCam on Mobile (iOS / Android)"
cc @b-g @mmmmmmmmmmmmmmmm

Since we were talking about one of the potential future milestone would be running opendatacam directly on mobile devices, I though I would share this app (someone retweeted it in my feed):  https://itunes.apple.com/us/app/idetection/id1452689527

It is running the full YOLOv3 SPP weights and claims 13 FPS on latest iPhones (XS I think) .

On my iPhone SE it just runs at

[2019-04-30 17:35] tdurand commented on #71
Keep updating with pointers, some example of using tensorflow node on CPU (not GPU) for object detection: https://github.com/lucleray/object-detection/ , https://object-detection.now.sh/

[2019-04-30 20:41] tdurand commented on #68
ok done, documented here: https://github.com/moovel/lab-opendatacam/blob/v2/doc/CONFIG.md#display-custom-classes

[2019-04-30 20:41] #68 closed

[2019-05-01 21:56] tdurand commented on #74
Once I have the wifi dongle I'll do a test with a classic powerbank if we can power the nano to run opendatacam in the streets

[2019-05-02 14:29] tdurand opened #76 "General Project Documentation"
Available as a website here: https://opendatacam.github.io/opendatacam/ thanks to github pages

### Remaining task

- [x] Replace screencast picture ?
- [x] Link to housing.md documentation
- [x] Add Open Graph Images for opendatacam repo : https://github.blog/2019-04-17-custom-open-graph-images-for-repositories/
- [x] Proof read documentation
- [x] Add screenshot of how to add wifi password in WI

[2019-05-02 15:06] b-g commented on #76
Hi @tdurand, True! Either way is fine. I personally would favor simply to have a TOC in the README listing the topics and linking to the other files. That way everything incl. the tocs is nicely contained in our repo. The wiki tab feels at least for the slightly disconnected.

[2019-05-02 21:07] tdurand commented on #60
Some update on this, I worked on it the past 2 days, no yet finished.. but some substancial improvements have been made to be UI & Feature complete. If you want to try it you can follow the README section about starting in simulation mode: https://github.com/moovel/lab-opendatacam/tree/v2#run-simulation-mode

Or view this quick screencast:

Not requesting for review for now, here is a quick list o

[2019-05-02 21:07] tdurand commented on #60
_Current state screencast link: https://youtu.be/m7C9oK_B-3c_

[2019-05-02 21:34] tdurand opened #77 "Tracker improvements"
One good thing of having this nice live view + path view is that we can see all the errors of the tracker 😉, I'll list them in this issue and let's see if we can improve: https://github.com/tdurand/node-moving-things-tracker

First one is something I noticed since a long time but didn't create an issue to track it yet.

**Ghost re-targeting on the other lane:**

Video: https://youtu.be/vFde4ZqP7Ao

[2019-05-02 21:43] tdurand commented on #67
Next steps for jetson nano:

- [ ] Benchmark TinyYOLO on more footage
- [ ] Try to run it with a classic powerbank , I have an anker one that feeds 3A I think
- [ ] Figure out wifi with this [dongle](https://www.edimax.com/edimax/merchandise/merchandise_detail/data/edimax/in/wireless_adapters_n150/ew-7811un/):
- [ ] Try with [Raspberry Pi cam](https://www.amazon.com/Raspberry-Pi-Camera-Module-Mega

[2019-05-02 21:43] tdurand commented on #74
Closing in favor of: https://github.com/moovel/lab-opendatacam/issues/67

[2019-05-02 21:43] #74 closed

[2019-05-02 21:44] tdurand commented on #76
Yes, for now will just work on content, and when we have all the content let's see what makes sense.

[2019-05-02 22:02] tdurand opened #78 "Web (live demo) version"
Build a demo version to feature on the website of v2 _( like: https://avs.auto/demo/index.html for https://avs.auto )_

**Technicalities**

- Simulation mode already exists, would need to have all the state and the counting logic on the client so we can have has many client has we want without storing any state on the server.

- Would still need to have a node.js server side part running with all

[2019-05-02 22:07] tdurand commented on #64
Low prio for now also, but specifying tasks:

- [ ] Create a docker-nvidia (https://github.com/NVIDIA/nvidia-docker) image from the work on the jetson docker images

- [ ] Test it on a laptop with Ubuntu with CUDA software (as nvidia-docker isn't compatible with neither macOS or windows)

- [ ] Test on cloud and see minimal machine requirement..

- [ ] Have a version that can run from an IP Cam

[2019-05-02 22:22] tdurand commented on #62
Next steps:

- [ ] Work on making opendatacam docker image configurable at runtime: https://github.com/moovel/lab-opendatacam/tree/v2#%EF%B8%8F%EF%B8%8F%EF%B8%8F-opendatacam-settings
- [ ] Easy run from files
- [ ] Easy switch of YOLO weights ( v3 COCO, v3 SPP , v2 VOC, v3 TinyYOLO )
- [ ] See if we can setup the wifi hotspot automaticaly : https://elinux.org/Jetson/TX1_WiFi_Access_Point , https:/

[2019-05-02 22:26] tdurand commented on #70
Ok I've reorganized a bit the repo issues, now we have a v2 milestone: https://github.com/moovel/lab-opendatacam/milestone/1 , and this issue is now for feedback from testing the First beta on jetson.

[2019-05-03 12:17] tdurand commented on #77
Other improvement would be to add this idea of "tracker accuracy" , right now it seems everything is well tracked but it would be important to have a way to see which part of the frame is well tracked and do not have much id-reassigments.

Data wise,  naive algo idea is that tracker should divide the frame is several areas and count how much reassigments are happening in each one of them and then

[2019-05-03 17:08] shams3049 commented on #70
I have three tx2 for my project, and I am mainly using this application on them to count cars and trucks. what kind of test results are you interested in, maybe I can be of some assistance.

[2019-05-03 17:27] tdurand commented on #70
Hi @shams3049 , many thanks for your message. Mainly just looking to test it on other jetsons than mine to see if it works, and maybe feedback on new the install process...

If you want to try the new version just follow this guide: https://github.com/moovel/lab-opendatacam/tree/v2#-get-started-quick-setup . You will need to flash one of your jetson with the new jetpack 4.2.

[2019-05-05 02:14] vielmetti commented on #62
Of interest to you, @DieterReuter

[2019-05-06 08:21] shams3049 commented on #70
Installing and running the application works perfectly. No issues.

I still have to figure out why it happens. But running the application for longer then 4 to 5 hours tends to crash or have no response what so ever.
![Screenshot from 2019-05-06 10-19-53](https://user-images.githubusercontent.com/4646205/57213939-98503580-6fe8-11e9-9a45-92ca1d955e4e.png)

[2019-05-06 09:00] shams3049 opened #79 "Discrete Data Files"
First of all, its a great project. It has saved so much of my time to be started with my project.

I wanted to ask, how can I approach the data files to be saved at 10 min intervals and start a new data counter.

[2019-05-06 11:29] tdurand commented on #70
@shams3049 , great ! thanks for feedback and the long test, I still need to do those myself....

Two things you can try if you want:

- When it crashes / freeze, try to have a look at the logs: I think with `sudo docker logs`
- More time consuming, but try to install it without docker and see if it has the same problem (maybe it is docker related): https://github.com/moovel/lab-opendatacam/blob/v2

[2019-05-06 12:28] shams3049 commented on #70
I am running two Jetson TX2 with Jetpack 4.2 one with docker and one without. Will leave them running over night and compair the results 2mro morning. So far both looks okay.

However I have to add, that the device with Docker is running a Webcam, where as the device running without the docker is running a CSI-2 camera sensor from e-con

[2019-05-06 13:02] tdurand commented on #70
@shams3049 Awesome , many thanks, let's see what comes out of it...

Just curious, the CSI-2 camera works out of the box with opendatacam ?

[2019-05-06 13:10] tdurand commented on #79
Let me get back to you with pointer on this on this by the end of the week, I'll likely work on it 2 days later this week...

I think this might be an interesting use case to include... We persist all the data in DB so I think it would be more to have a way to export the data with some time clustering each X min of the counted data and not directly have feedback on the UI (this would require more

[2019-05-06 13:11] shams3049 commented on #70
No totally not, they are one of the tedious and fragile part of the whole setup. I want to generate data in night and day, so I dont have much choice of low light sensors.

So far both the vendors that manufacturer CSI-2 camera censors for Jetson TX2 board are behind on every aspect regarding drivers and interfacing.

[2019-05-06 13:13] tdurand commented on #70
Ok ! and did you notice any tracker accuracy difference with night footage ? I'm not sure if YOLO is trained for low light environments.

[2019-05-06 13:19] tdurand commented on #79
With v2 we have an API endpoint to export the counter data, and you have in it an array of all counted items with a timestamp associated (look into "counterHistory"): https://apidoc-dzchmakjlf.now.sh/#api-Recording-Counter_data .

For now with the v2-beta.1 you can export this data in the "data" tab, and click on download button on the counter part of the recording.

Then you'll need to build some

[2019-05-06 13:23] shams3049 commented on #70
YOLO is pretty good at it actually. The trained model are looking for feature set (shape and all). The low light sensor are good at contours. So win/win.

My biggest problem is indefinite run time.

Pretty much out of options on how to make the system stable for longer and longer runs, as the systems are deployed at remote locations,

[2019-05-06 13:27] tdurand commented on #70
Ok, let's see if we can improve this, but yes it isn't the goal of this project, I mean we want it to be able to run at least a day without crashing and more if possible, but we do not test it much more than this...

With v1 how long did it last before crashing ?

[2019-05-06 13:33] shams3049 commented on #70
V1 crashed more often actually.

I totally understand as its not the goal of this project.

As most of the requirements for my project are met thanks to this project. So I have much time to work on the stability of this project.

So in case you want me to look at a specific part, that you think can improve stability, I would be glad to do so. Feel free to tag me along any performance issue that ne

[2019-05-06 13:36] tdurand commented on #70
Thanks, well, let's see what comes ou of those test, I guess if it is the core YOLO implem: https://github.com/AlexeyAB/darknet that is crashing we can't do much.. But maybe as now the software we built around it is much better than v1 we could have a way to detect a crash and restart it automaticly after this and restore the current counting areas configuration...

[2019-05-06 13:46] shams3049 commented on #79
I my use case, we have multiple Jetson tx2 deployed, around a harbor,  each one keeping a local count,

We sink to a central dashboard, that parses individual location data in a meaningful way at a **fixed interval**, and update the overall harbor status based on the count, if the traffic in normal or not, and based on long term collection of this data, if we can predict a future situation.

[2019-05-06 23:10] gabbyhan commented on #55
Hi,

I have spent the past week working with someone experienced in linux and posting on ffmpeg and ubuntu forums to try to get version 3 of ffmpeg but I have so far been unsuccessful. Is there any way I can get Open Data Cam to work with my older version off ffmpeg?

Thank you!

[2019-05-06 23:14] tdurand commented on #55
Infortunately not, but Open data cam v2.0 won't require ffmpeg. You can already try it we release the beta.1 : https://github.com/moovel/lab-opendatacam/tree/v2#-get-started-quick-setup

There is not documentation to run from a file yet though.. But in 2 weeks we will have a way to do it with v2.0

[2019-05-06 23:56] gabbyhan commented on #55
Since I already have everything flashed from version 1, can I just update to Ubuntu 18.04? I have all my packages installed from my Jetson TX2 3.2.

[2019-05-07 00:07] tdurand commented on #55
No, you need to flash it again to jetpack 4.2 , because we need the new versions of Nvidia software like CUDA , etc etc

[2019-05-07 00:08] tdurand commented on #55
BTW with v2 there is just 1 installation step after flashing to 4.2, we run from a docker image... Or you can run it without docker with a simpler setup : https://github.com/moovel/lab-opendatacam/blob/v2/doc/RUN_WITHOUT_DOCKER.md

[2019-05-08 08:26] BlackLionZhou opened #80 "how to use deepstream on jetson nano"
I want to use DeepStream on the jetson nano ,but i cant find webset to download it .i know this https://developer.nvidia.com/embedded/deepstream-on-jetson-downloads
but there is nothing for nano .when i search it  ,i find someone is using  DeepStream on the jetson nano . can anybody tell me how to do it?

[2019-05-08 10:26] tdurand commented on #80
Hi, we do not use deepstream with opendatacam, the best place to ask this would be on the nvidia forum directly: https://devtalk.nvidia.com/default/board/371/jetson-nano/

[2019-05-08 10:26] #80 closed

[2019-05-08 10:46] BlackLionZhou commented on #80
Ok ,thank you !

| |
zzqfang
邮箱：zzqfang@163.com
|

Signature is customized by Netease Mail Master

On 05/08/2019 18:26, Thibault Durand wrote:

Closed #80.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-05-08 15:07] gabbyhan commented on #55
Hi,

So I was able to manually install ffmpeg version 4.1.1 but I now get this error when I try to launch localhost:8080 from my browser after `npm run start`:

[code]

[2019-05-08 15:14] tdurand commented on #55
It might be, didn't test on ffmpeg v4. opendatacam isn't able to launch it... Maybe some ghost is laying around, try to restart your jetson.

I really advise you to install the opendatacam v2 beta version as it brings much more improvements (speed, UX, features...), and we get rid of ffmpeg dependency.

[2019-05-08 16:03] gabbyhan commented on #55
That sounds great. I just was hoping to run Open Data Cam on a file before the week ends and if there isn't yet support for that in v2.0 I didn't want to go through the whole process of flashing the jetson again.

[2019-05-08 16:06] tdurand commented on #55
for now it is supported, but not documented, I will put out a quick documentation for you by the end of the week

[2019-05-08 17:34] gabbyhan commented on #55
Hi,

Thank you so much for all the support. I just wanted to try one more time as through the manual installation process I am able to get ffmpeg version 3.4.2. I now no longer get an error but it still is trying to connect to a webcam I believe:

[code]

I just wanted to let you know since I have followed all the instructions for running on an existing video file, as you know, but I still can't s

[2019-05-08 17:41] tdurand commented on #55
This error means it tries to pickup the webcam that isn't connected (as you run from a file)

Could you make sure the YOLO.js file contain the changes and that you have did a npm run build afterwise ?

[2019-05-08 17:43] gabbyhan commented on #55
Yes, I checked my YOLO.js and I have not changed it since I copied it above. I also restarted, stopped the process, and then ran npm run build again before starting.

[2019-05-08 17:49] tdurand commented on #55
Mmmm ... It shouldn't pick up the webcam if this line is commented out... Could you double check (sorry but I don't see any other potential problems) ?

[2019-05-08 17:53] gabbyhan commented on #55
[code]

[2019-05-08 17:55] tdurand commented on #55
If you go the darknet directory and run

./darknet detector demo cfg/voc.data cfg/yolo-voc.cfg yolo-voc.weights -filename Hamburg_Hall.mp4.mp4 -address "ws://localhost" -port 8080

What does happen ?

[2019-05-08 17:57] gabbyhan commented on #55
It kept running but I stopped with ^C:

[code]

[2019-05-08 18:01] gabbyhan commented on #55
I checked my path in config.json and it is the absolute path to darknet:

[code]

[2019-05-08 18:01] tdurand commented on #55
This means that darknet (the neural network) is working on the file.

This also means that this code from YOLO.js should be working

[code]

The only problem I can see if that the node app isn't running this code. Please try to replace your YOLO.js with this, and stop the node process,  "npm run build" , "npm run start" (without restarting the jetson):

[code]

[2019-05-08 18:06] gabbyhan commented on #55
I replaced the code, the process was already stopped, did npm run build and npm run start. I still get the same output as before unfortunately.

[2019-05-08 18:07] tdurand commented on #55
Do you have a webcam to connect to the jetson ? Just to see if it works with a webcam

[2019-05-08 18:10] tdurand commented on #55
I'm afraid  I can't help you much more than this... Running from a file was very experimental in v1 and it might be a different ffmpeg version... not sure bugs can come from everywhere.... Also I can't invest time in reproducing the problem as we are commiting all our effort in releasing the v2 _(besides all my jetson have the v2 dependencies)_

I think your best shot is to flash the jetson with a

[2019-05-08 18:12] tdurand commented on #67
Gstreamer "magic" line to run from the Raspberry CSI cam:

[code]

[2019-05-08 18:14] gabbyhan commented on #55
Okay, that works for me. Sorry for taking your time. I just wanted to make sure I tried as well as I could with this version. I will get started on the process of running v2!

[2019-05-08 18:17] tdurand commented on #55
no worry ! You will see v2 setup is less painful

Please follow this guide **after flashing to jetpack 4.2** :  https://github.com/moovel/lab-opendatacam/blob/v2/doc/RUN_WITHOUT_DOCKER.md , as with the docker setup you can't run from a file for now.

I'll make sure to put a little doc for you on how to run with a file

[2019-05-08 18:20] gabbyhan commented on #55
Thank you!

[2019-05-08 21:14] tdurand commented on #67
How do you like this 165 USD opendatacam full mobile setup ? @b-g @mmmmmmmmmmmmmmmm @florianporada   ?

![2019-05-08 16-41-15](https://user-images.githubusercontent.com/533590/57408336-c46fe000-71bb-11e9-902f-ee3bfe29b8cf.jpeg)
![photo5089454349779839019](https://user-images.githubusercontent.com/533590/57408337-c46fe000-71bb-11e9-9b1c-e31ace6437e8.jpg)

It works ! You can power the nano with a "n

[2019-05-09 12:20] tdurand opened #81 "3D Tracking with Zed (stereo camera)"
FYI the darknet fork we use now support Zed stereo camera: https://www.stereolabs.com/zed/

This means that you can have with the bbox the distance to the camera.

![preview](https://user-images.githubusercontent.com/533590/57452940-70a4db80-723b-11e9-84b6-d8031249aaa7.png)

No sure if this could be useful for some opendatacam application but it is worth sharing and documenting.

cc @b-g

[2019-05-09 13:11] b-g commented on #81
@tdurand Wow! Yes we should document that and at least try it out. Do you know the pricing of such a stereo cam? Model?

[2019-05-09 13:13] b-g commented on #67
@tdurand Mega! So it is's ~$150 without the powerbank! Yay!!

[2019-05-09 13:35] tdurand commented on #81
I think it's 449 USD ,  https://store.stereolabs.com/products/zed/

[2019-05-09 15:03] tdurand commented on #81
There are other brand with lower price (200 USD), but unclear it would be hard to support it with this darknet fork: https://store.intelrealsense.com/buy-intel-realsense-tracking-camera-t265.html

[2019-05-09 21:22] tdurand commented on #69
Some improvements to make to the API:

- _GET /recording/:id/counter_ should have also a specific "GET /recording/ongoing/counter" endpoint to get the current recording data.

- We should add a _GET /counter/areas_ to get the configuration of the counting lines

- We should add a _GET /opendatacam/status_ endpoint that send the latest status (is currently recording or not, time started, FPS ...)

[2019-05-09 21:23] tdurand commented on #79
Ok, great to learn about some real world usage of opendatacam, I've added some API endpoints to make that will enable you to build around the v2 API to solve your use case: https://github.com/moovel/lab-opendatacam/issues/69#issuecomment-491073779

[2019-05-09 21:24] tdurand commented on #79
I'll close this for now, feel free to reopen once you try out the APIs.

[2019-05-09 21:24] #79 closed

[2019-05-10 00:43] tdurand commented on #70
FYI install process is broken for v2.0.0-beta.1 as I'm working on v2.0.0-beta.2 which will introduce configurable neural network weights, choose input video (file, difference webcam types...)

v2.0.0-beta.2 Should be ready by the end of the week, of early next week.

[2019-05-10 09:21] b-g commented on #81
Thanks! I think we are actually using the ZED one for our "Who wants to be a self driving car?" buggy setup :) And yes, we definitely should document that it is possible to use it with a stereo cam in the docs.

[2019-05-10 12:14] tdurand commented on #81
Ah great, so if you have one in the office we might be able to test, the integration with the Zed camera needs this ( documented here: https://github.com/AlexeyAB/darknet#how-to-compile-on-linux , last bucket point)

- Install the ZED SDK on device
- Compile darknet with ZED_CAMERA=1
- Then run darknet with `LD_LIBRARY_PATH=./:$LD_LIBRARY_PATH ./uselib data/coco.names cfg/yolov3.cfg yolov3.weights

[2019-05-10 13:26] tdurand commented on #62
For reference, I'm currently facing an issue to have access to the raspberry PI camera form the docker container, I wrote a summary on the nvidia forums: https://devtalk.nvidia.com/default/topic/1051653/jetson-nano/access-to-raspberry-cam-nvargus-daemon-from-docker-container/  .

It works great when running opendatacam outside the docker container though.

[2019-05-11 14:12] tdurand commented on #62
Following up on this,

For what someone answered on the nvidia forum: https://devtalk.nvidia.com/default/topic/1051653/jetson-nano/access-to-raspberry-cam-nvargus-daemon-from-docker-container/post/5338069/#5338069,  seems it won't be possible to run with a raspberrycam with the docker setup, it will be a limitation, you will need to install opendatacam without docker to do so. Will be documented

[2019-05-11 16:57] tdurand commented on #70
I just released v2.0.0-beta.2 💪

It features:

- Opendatacam app improvements ( see https://github.com/moovel/lab-opendatacam/issues/60#issuecomment-488832532 )
- Configurable settings (neural network run, run from files), See config documentation to get a sense of what is configurable https://github.com/moovel/lab-opendatacam/blob/v2.0.0-beta.2/doc/CONFIG.md
- Docker setup improvements to be able

[2019-05-11 22:31] gabbyhan commented on #55
Hi,

I set up v2. I was just wondering where I could find the file to run from a video file?

Thanks!

[2019-05-13 10:34] tdurand commented on #55
On Saturday I released the support to run from a file with v2.0.0.beta-2, you can follow the quick startup guide:

https://github.com/moovel/lab-opendatacam/tree/v2#2-install-and-start-opendatacam-3-min-

And then read how to run from a file

https://github.com/moovel/lab-opendatacam/blob/v2.0.0-beta.2/doc/CONFIG.md#run-opendatacam-on-a-video-file-instead-of-the-webcam

[2019-05-13 10:38] tdurand commented on #62
Regarding the raspberry pi cam, someone pointed me another potential solution to be able to run it from docker: https://devtalk.nvidia.com/default/topic/1051653/jetson-nano/access-to-raspberry-cam-nvargus-daemon-from-docker-container/post/5338479/?offset=10#5338482

[2019-05-13 11:34] b-g commented on #70
@tdurand Yay!

[2019-05-14 23:08] gabbyhan commented on #55
Thanks so much it is finally working! However, I can't seem to find the export.csv. It is not in any of the directories. Is a new one supposed to show up every time I stop recording? Thanks!

[2019-05-14 23:11] tdurand commented on #55
In the data tab you can download JSON data, I'm still working on the csv exports for v2, you can follow progress here:  https://github.com/moovel/lab-opendatacam/issues/70 . I expect to have it working by the end of the week and release new version.

[2019-05-14 23:24] gabbyhan commented on #55
Thanks. Where is the data tab?

[2019-05-14 23:25] tdurand commented on #55
You should have some buttons on top (Counter, LiveView .... ) and there is
one named "Data"

Le mar. 14 mai 2019 à 20:24, gabbyhan <notifications@github.com> a écrit :

[2019-05-15 23:17] tdurand commented on #64
Worked today on making a Dockerimage for non-jetson device using docker-nvidia : https://github.com/NVIDIA/nvidia-docker , and after some pain I succeeded to have an image that run from a file ! Yay 🙌️ !

- This will work only on ubuntu, docker-nvidia isn't supported on mac / windows.
-  On my laptop which has a GeForce GTX 1050 (surfacebook 2) , I run opendatacam with full Yolov3 weights at 12 FP

[2019-05-16 21:44] tdurand commented on #64
More on this, after a bit of pain I successfully:

- Deployed and ran Opendatacam on a paperspace instance (on a file) 👌️ ! Turns out the NVIDIA Quadro P4000 minimum setup at 0.51 USD / h is very powerful and I can run full weight Yolov3 at 30 FPS...

- And more than this, I also successfully ran it on any IP accessible webcam out of the box, just by changing a setting... 🤯️

The pain was related

[2019-05-17 12:05] tdurand commented on #76
- [ ] Work on a CODEOFCONDUCT.md section

[2019-05-17 17:34] tdurand commented on #62
Issue solved, we can now access the raspberry cam from the docker container, the solution consist on:

- Starting a process that proxys the Raspberry cam into an usb cam
- Picking this "fake" usb cam from the docker container

More on this: https://devtalk.nvidia.com/default/topic/1051653/jetson-nano/access-to-raspberry-cam-nvargus-daemon-from-docker-container/post/5338140/#5338140

[2019-05-17 19:15] tdurand opened #82 "Jetson as a wifi hotspot (command line)"
In order to connect to it with a device.

Taking this out of docker realm, Ubuntu 18.04 (that ships with Jetpack) makes it way easier than 16.04 to configure it from the UI (need to document)

But maybe could even do a script to do it

[2019-05-17 19:38] tdurand commented on #62
Now documented & made easy to setup with scripts and cron job that start on boot: https://github.com/moovel/lab-opendatacam/blob/v2/doc/JETSON_NANO.md#run-opendatacam-container-with-raspberrypi-cam

BTW keeping this issue open because I still need to improve a bit the Docker images but all the technical issues have been solved ✅

[2019-05-17 20:45] tdurand commented on #67
I have an issue after playing on the nano today, now it crashes when trying to run on powerbank for any config.

I suspect that the setup with the raspberry cam proxy caused to add more background process... not sure... (I tried everything on AC plug via jack) ...

For now, everything is crashing on powerbank:

On Docker

-> with usb cam, crashing ==> not sure if this one was working
-> with raspb

[2019-05-17 22:40] tdurand commented on #67
Ok, after setuping everything again (and fixing some documentation along the way), found out that I needed just to set the jetson nano to 5W power mode  with this command: `sudo nvpmodel -m 1` (it defaults to 10W).

And every configurations are working from the powerbank supply again 🎉

[2019-05-17 22:47] tdurand commented on #77
Another bug found is on stationary object (traffic jam), to make sure that they aren't counted several time. If they are id reassign I think we can't do much but to make sure we at least have a rule in the counter that doesn't count the same id on the same counting line.

It's more an improvement to do to the counting algorithm and not the tracker

[2019-05-19 01:25] TacHuynh commented on #70
Error when install on jetson TX2
docker: Error response from daemon: error while creating mount source path '/usr/lib/aarch64-linux-gnu/libGL.so': mkdir /usr/lib/aarch64-linux-gnu/libGL.so: file exists.

nvidia@nvidia-TX2:~/openDataCam$ sudo ./install-opendatacam.sh --platform tx2
Installing opendatacam docker image
Stop any running docker container...
Installing opendatacam v2.0.0-beta.2 for plat

[2019-05-20 10:34] tdurand commented on #70
Hum.. And it works when you comment out this line ? Do you have a clean Jetpack 4.2 ?

[2019-05-20 11:32] shams3049 opened #83 "Json store in cloud directly"
Has anyone tried to store Json data generated by the application directly to google or any other cloud.

I am missing the understanding of how the it works systematically: meaning how to approach the problem.

I want to implement this in the end: https://cloud.google.com/storage/docs/json_api/

[2019-05-20 13:22] TacHuynh commented on #70
Yes, it is a clean 4.2 Jetpack installation.
Worked fine with “file” option, but hangs at usbcam and raspberrycam.
Thanks

On Mon, May 20, 2019 at 3:34 AM Thibault Durand <notifications@github.com>
wrote:

[2019-05-20 13:44] tdurand commented on #70
1. Weird you had to edit the run-docker script for a clean jetpack 4.2 install... I'll try to reproduce this myself later this week

2. Make sure you connect the usbcam before starting the jetson , and that only one of the camera is connected to it... (Raspberry Pi isn't supported yet with docker installation but will be soon) . You can run this command `ls dev/video*` to see if you have a video0

[2019-05-21 11:58] florianporada commented on #67
Hi @tdurand,
I'm finally able to start the testing with the nano (tx2 to come).
One question regarding the installation/setup of the nano: Have you ever encountered issues with pulling the container from the docker registry? I tried it several times but it will fail at some point with a timeout error.

I will try it in a different network and also with a wired connection. Right now it's connected

[2019-05-21 12:23] tdurand commented on #67
great to know I'll soon have feedback from you... No.. weird.. maybe docker hub has some issues...

I always tested while connected to an ethernet connexion.. but this shouldn't be the problem..

What is the exact error from docker ?

[2019-05-21 12:36] florianporada commented on #67
Thanks your fast reply :) ...
The errors are not consistent but these are the latest ones:
- `net/http: request canceled while waiting for connection (Client.Timout exeeded while awaiting headers)`
- `Error response from daemon: Get https://registry-1.... TLS handshake timeout`

... I have the feeling that it might be a problem with the internet connection (either via the USB Dongle or the network

[2019-05-21 12:43] tdurand commented on #67
from what I googled it is a problem with a proxy at moovel office I think.... : https://forums.docker.com/t/error-response-from-daemon-get-https-registry-1-docker-io-v2-net-http-request-canceled-while-waiting-for-connection-client-timeout-exceeded-while-awaiting-headers/54848/2

[2019-05-21 12:44] tdurand commented on #67
https://stackoverflow.com/questions/23111631/cannot-download-docker-images-behind-a-proxy

[2019-05-21 12:57] florianporada commented on #67
I also saw those posts. But the behavior is, that it starts downloading for some minutes and then stops with one of the errors.
(also we are currently located in a co-working space which makes things more complicated with network related issues)
I'll start another try at home and see what result i get :)

[2019-05-22 12:03] tdurand commented on #83
For this you would need either to:

- To write some app that consumes the APIs endpoint and post them to your cloud provider
- Fork and rewrite the persistent layer to persist directly to another cloud provider: https://github.com/moovel/lab-opendatacam/blob/v2/server/db/DBManager.js
- Change the mongodb adress of persistence so you persist on some mongodb cloud provider directly: https://github.c

[2019-05-22 12:05] #83 closed

[2019-05-22 12:06] tdurand commented on #69
- Document how to configure the mongodb adress so people can also use a remote DB: https://github.com/moovel/lab-opendatacam/issues/83

[2019-05-23 08:42] florianporada commented on #67
@tdurand so the issue was apparently the network.
Nevertheless: Pulling the odc image via the WiFi dongle is not recommendable since it took ~30min for me. (less than 5mins via ethernet)
I'm currently testing tx2 and nano - I will post my findings in: https://github.com/moovel/lab-opendatacam/issues/70

[2019-05-23 09:45] b-g opened #84 "OpenDataCam in the wild: testimonials, use cases and examples?"
# 📣🥁 Dear people using OpenDataCam, please get in touch with us and show us your examples of OpenDataCam in the wild!

While preparing the layout and contents for the upcoming new website for OpenDataCam v2 ... we realized that it would be nice to know more about "OpenDataCam in the wild" e.g. testimonials, use cases and real world examples.

cc @tdurand

[2019-05-23 09:53] tdurand commented on #84
👌️ Maybe @shams3049 would be interested to collaborate with us on this

[2019-05-23 09:56] tdurand commented on #67
Great ! Feel free to modify the documentation if you see something to add: https://github.com/moovel/lab-opendatacam/tree/v2/doc , and also please be aware that it is not feature complete yet: https://github.com/moovel/lab-opendatacam/issues/60#issuecomment-488832532

[2019-05-23 10:07] tdurand commented on #62
Can improve docker wrapper script for jetson with this: https://github.com/rbonghi/jetson_stats/blob/master/scripts/jetson-docker , much cleaner.

Also there is some nice scripts for jetsons in this repo: https://github.com/rbonghi/jetson_stats

[2019-05-23 10:16] shams3049 commented on #84
Hi, @tdurand @b-g Defiantly I am interested on collaboration on this one.

One of my use case is using this application for collecting traffic data from multiple locations (24/7) and pushing them to a single server.

I am still running test on remote locations and trying to keep the service live and have better remote diagnostics.

In relation to the website, I want to work on the use-case to have

[2019-05-23 11:56] florianporada commented on #70
Findings from testing the odc on tx2 and nano:

- When flashing the Jetson I had some issues caused by the SDK Manager. Make sure that `python` is installed. Did the trick for me. (`sudo apt-get install python`)

- When I tried to run the `install-opendatacam.sh` script after a clean setup. The script failed with:
[code]
Since there are no docker containers to stop this error will appear. Quickfix

[2019-05-23 12:17] tdurand commented on #70
@florianporada  , many thanks for this , very helpful

- Python issue with sdk manager : Could you add a line in "Common issues" in https://github.com/moovel/lab-opendatacam/blob/v2/doc/FLASH_JETSON.md ?

- For the docker stop yes I already fixed this but didn't release a new beta yet

- Interesting that you can avoid the sudo ... Not sure I quite understand everything.. For now you just don't log

[2019-05-23 12:18] tdurand commented on #62
@florianporada could we have a 20 min chat on some docker improvements idea you have ? for example monday next week or whenever it is good for you, let me know

[2019-05-23 13:43] florianporada commented on #70
- Concerning `Interesting that you can avoid the sudo ... Not sure I quite understand everything.. `

`sudo usermod -aG docker $USER` only adds the current logged in user to the docker linux group and gives it permission to use the **docker** without `sudo`. - So this has nothing to do with the docker registry :). A proposal would be to add this command: `$ sudo usermod -aG docker $USER` to the `i

[2019-05-23 14:11] tdurand commented on #70
- Ok, will try this, good suggestion !

- Hum... yes, docker container starts on boot and start the node.js app... On the nano it takes time though, but after 5 min you should be able to open your browser at IPOFJETSON:8080 which sshing into it..

-  Ah yes sorry, I need to write more doc on this, but you need to specify a width and height supported by the webcam :  in order to find out which reso

[2019-05-23 14:12] tdurand commented on #70
- BTW the command that start the docker container is: `sudo ./run-docker.sh run -d --restart unless-stopped opendatacam/opendatacam:$VERSION-$PLATFORM`  if you want to investigate whever the container is starting at boot

[2019-05-23 17:12] florianporada commented on #70
FYI:
The status of docker was `Inactive` on startup (`$ systemctl show --property ActiveState docker`)
I think for me, running `$ sudo systemctl enable docker` did the trick.
After restarting, I was able to connect via the browser to the jetson board. ✌️

[2019-05-23 17:55] tdurand commented on #70
Ok, good to know, maybe you cam add this to the TROUBLESHOOTING ;-)

[2019-05-24 07:07] florianporada commented on #62
@tdurand Sure. What is your timezone at the moment? :) Monday works for me.

[2019-05-24 09:32] tdurand commented on #62
2:30 pm for you would work ? I think it can be pretty quick

[2019-05-25 00:34] tdurand commented on #60
Latest update screencast: https://youtu.be/TeVjVcKVJbY

Todo list is on the first post of the issue 😉

Almost there ✌️

[2019-05-27 07:52] b-g commented on #60
@tdurand Thanks + Mega!

[2019-05-27 09:22] b-g commented on #67
@tdurand I would like to buy a 2nd set for testing ... Could you help to compile the shopping list? + We should add such a hardware list as well to the repo. So far I have noted:

ODC 2.0 Shopping List
- 1x Jetson nano (100 USD)
- 1x [Raspberry Pi Camera](https://www.amazon.com/Raspberry-Pi-Camera-Module-Megapixel/dp/B01ER2SKFS/ref=sr_1_3?keywords=raspberry%2Bpi%2Bv2%2Bcamera&qid=1554831689&s=elec

[2019-05-27 11:10] tdurand commented on #67
Great , looking forward to get feedback from you

The minimum setup for 5W Power is:

- 1 Jetson nano
- 1 Raspberrycam module v2 : https://www.amazon.de/Raspberry-Kamera-Modul-mit-Filter/dp/B01ER4FA9U
- 1 Wifi dongle , this one is compatible out of the box: https://www.amazon.de/EDIMAX-EW-7811UN-Wireless-Adapter-IEEE802-11b/dp/B003MTTJOY
- 1 MicroSD card (at least 32 GB and 100 MB7s)
- 1 Power sup

[2019-05-27 13:16] b-g commented on #84
Hi @shams3049, many thanks for the interest!

Could you share with us "what" are you doing with ODC non technical? What and why are tracking certain things? (If this is a business secret ... could you generalize it on an abstact level)

We decide deliberately not to deal with any data storage or cloud connection. Basically the message is: you own your data. We don't want and have to deal with this

[2019-05-27 13:43] shams3049 commented on #84
Hi @b-g ,

Its an open project with public funding, Here is some insight in to the project.

We have a dashboard designed in specific for the needs of Naus Harbour, in NRW region. Following link should work do some basic level. https://logisticsdashboard.traffgoroad.com/, In case it does not work, here is a screen shot.

![2](https://user-images.githubusercontent.com/4646205/58422953-312c1b00-8094

[2019-05-27 14:54] tdurand commented on #76
- [ ] Work on a CODEOFCONDUCT.md section
- [ ] Add a LICENCE , ping @b-g

[2019-05-28 11:03] tdurand commented on #77
I'm also looking into integrating some ideas of an iteration of the original IOU Tracker paper, the V-IOU: [Extending IOU Based Multi-Object Tracking by Visual Information](http://elvera.nue.tu-berlin.de/files/1547Bochinski2018.pdf)  , which formalize some of the things we are already doing with node-moving-things-tracker , but also add some new idea, more here: https://github.com/bochinski/iou-tr

[2019-05-28 17:19] tdurand commented on #77
I have made two improvements: (cc @b-g )

- **Counting logic:** In case of red light / traffic jam, when cars are stationnary, sometimes as the bbox can go a bit backward we were counting several times the same object, this is not the case anymore, we only count the same tracked item one time for each crossing area

- **Tracker Display** : I didn't fix the isssue of the ghost re-targeting the othe

[2019-05-28 17:27] tdurand commented on #60
Ok, we are now feature complete + responsive down to Iphone SE screens in landscape ... I think @mmmmmmmmmmmmmmmm now will be a good time for you to have a look and see if we can make some other quick wins...

There is still some improvements to make on the mobile experience, I've noticed that safari mobile has some weird issue with 100% height not equivalent to innerHeight reading from javascript

[2019-05-28 21:30] tdurand commented on #77
cc @b-g , some work on the idea of tracker accuracy: https://www.youtube.com/watch?v=me4_f5DwTUE

[2019-05-28 23:36] tdurand commented on #70
I've tagged a v2.0.0-beta.4 and released Jetson Nano and TX2 images.

Still need to work on some setup improvements discuss here, and this release make me thing that we need an upgrade script, for now need to re-run the install script, which should work

PS: I may be half broken, just after pushing the docker image, I found out that the data page in the app was crashing... will investigate next we

[2019-05-29 11:09] florianporada commented on #67
@tdurand I'm playing around with the raspi camera as well.
Mounting the camera inside the docker container is still kind of hacky right? I tried several approaches but I was not able to mount the camera in the container. Any tips on that maybe :) ?

[2019-05-29 11:13] akrolic commented on #67
I wish there was a better more broadly applicable solution than using the tegra-docker wrapper. I am looking into a solution for this problem aswell for another project, but so far @tdurand is the only guy diligently working towards what could be a solution. More updates around this topic would be super helpful :) keep up the good work.

[2019-05-29 11:25] tdurand commented on #67
@florianporada , yes I already wrote documentation on this: https://github.com/moovel/lab-opendatacam/blob/v2.0.0-beta.4/doc/JETSON_NANO.md#run-opendatacam-container-with-raspberrypi-cam , it's hacky but works. The idea is to proxy the raspberry cam into a "fake" usb cam dev/video2 and pick this one from the docker container

@akrolic  , what are you looking to achieve exactly ? The docker wrapper

[2019-05-29 13:04] florianporada commented on #67
I got it working for some time. Super hacky indeed :D ... but this is something we have to deal with. Thanks a lot! :)

[2019-05-29 13:23] mmmmmmmmmmmmmmmm commented on #60
@tdurand I had a look and I think it would be good to change the following:

0. change font-face to work-sans medium -> https://fonts.google.com/specimen/Work+Sans

1. adapt border radius and size of the other buttons to this button
<img width="637" alt="Screen Shot 2019-05-29 at 15 05 21" src="https://user-images.githubusercontent.com/12696639/58559685-f5c05680-8223-11e9-8918-6a3be2d169c0.png">

[2019-05-29 13:55] tdurand commented on #67
@florianporada , what do you mean with "for some time" ? it doesn't work anymore ?

[2019-05-29 14:01] tdurand commented on #60
Many thanks for this "external" eye 😉 for quick wins on UI improvements , will do next week !

[2019-05-29 14:02] mmmmmmmmmmmmmmmm commented on #60
Thanks :)

[2019-05-29 22:28] akrolic commented on #67
@tdurand I am working on implementing project redtail (https://github.com/NVIDIA-AI-IOT/redtail) on the Jetson Nano. It uses Yolo and another DNN TrailNet. I will be using gstreamer to get the camera input.
I am pretty novice, and have learned so much during this project. Community members like yourself make it possible for me to continue making progress on this project.

[2019-05-29 22:48] tdurand commented on #67
@akrolic glad the knowledge built with opendatacam helped you !

[2019-06-04 09:45] Fabri73 commented on #67
Hello everyone, I am having a little issue with tiny Yolo and Jetson Nano. Hope anyone can help.
I have set up the JN, installed Darknet and weights. However, using the pretrained weights (for tiny) it takes 0,6ish seconds for 1 jpeg. Even though Cuda is working properly, I tried to compile the examples and it seems to work, there is no difference in performance when I set the compile with GPU=1/0

[2019-06-04 10:46] tdurand commented on #67
Hi,

You can have a look at this documentation: https://github.com/moovel/lab-opendatacam/blob/v2/doc/RUN_WITHOUT_DOCKER.md#2-install-darknet--neural-network-framework-running-yolo-

specificaly:

[code]

Best

[2019-06-04 11:00] florianporada commented on #67
@tdurand the 'for some time' was because the service still stops after a certain amount of time. Also the cronjob which starts the proxyscript for the raspberrycam will not be created if you are not logged in with root.
.. maybe we should create a dedicated issue for raspi cam related stuff.

[2019-06-04 11:10] Fabri73 commented on #67
@tdurand Thanks, I will follow the advice and let you know.
Cheers
F

[2019-06-04 11:11] tdurand commented on #67
@florianporada yes this issue is getting a bit crazy, I think you can create an issue "Setup improvements" and list some of the stuff we have been discussing

[2019-06-04 11:26] b-g commented on #77
@tdurand Thanks! I think we should discuss this in our next call.

Basically from my own projects I don't have good experiences with splitting one big thing into tiles. Normally you (or at least me) never get it right in terms of representing with the tiles the problem accurately. Hence what about something more relative e.g. closest neighbors to the tracked object/host?

[2019-06-04 11:29] tdurand commented on #77
Good points ! let's discuss this on friday...

[2019-06-04 17:58] tdurand commented on #60
Ok, ui fixes done , will leave this issue open as there is still more to do but more time consuming.

[2019-06-04 19:03] tdurand commented on #69
Added more api endpoints to make it easier to build your own layer on top of opendatacam , ideas from #79  , Also added mongodb url in the config file so people can persist data on their own remote instance

Documented them in the API docs also, here is the latest version: https://apidoc-ydewpxduvy.now.sh

[2019-06-04 19:51] shams3049 opened #85 "Credit"
I have a keynote speech on Thursday at a university in Netherlands. As part of my project relies on this project I want to credit where credit is due.

Is the content of this [link](https://opendatacam.moovellab.com/#credits) uptodate or any other references that you would like to be mentioned.

[2019-06-04 20:07] tdurand commented on #85
thanks @shams3049 .., yes you can use those, ping @b-g in case he has another recommandation .. Sorry after v2 release everything will be a bit more clear 😉

[2019-06-04 20:12] tdurand opened #86 "Document how to use other YOLO weights"
News weights for YOLOv3 with another training method...  https://giou.stanford.edu/

Investigate if those weights : https://github.com/generalized-iou/g-darknet#pre-trained-models improves inference speed / accuracy

Some discussion with the darknet maintainer about this: https://github.com/AlexeyAB/darknet/issues/3249

[2019-06-04 21:14] tdurand commented on #86
The maintainer of darknet gently explained me that there was some improvements and how to use them with the darknet fork we are using: https://github.com/AlexeyAB/darknet/issues/3249#issuecomment-498842834

[2019-06-04 21:15] tdurand commented on #86
One interested thing is that they seem to have trained in on the VOC dataset, which would be nice as no official weight file has been publish for yolov3 for VOC

[2019-06-04 21:56] tdurand commented on #86
Unfortunately for the speed is only 5 FPS on TX2 with those weights for VOC .. So not enough..

And overall they seems to be a small improvement, will add their existence to the documentation but not worth spending more time on this

[2019-06-04 22:04] tdurand commented on #70
FYI beta.4 was half broken because I didn't update my config.json file after updating the docker container, I added a note about this (upgrading from v2.x to v2.x): https://github.com/moovel/lab-opendatacam/tree/v2#2-bis-optional-upgrade-opendatacam-from-v2x-to-another-v2x-version

[2019-06-04 22:09] tdurand opened #87 "Automated Test / Benchmark"
Add a simple way to be able to test opendatacam to avoid regression when upgrading

- Test counter logic
- (More complex) add a way to compare tracker results depending on neural network weights... this would test https://github.com/tdurand/node-moving-things-tracker

[2019-06-04 22:15] tdurand opened #88 "Improve run from file support"
Currently, if we run opendatacam on a file, it will crash after the video has finished... It would be nice to have a way to auto-restart YOLO for example...

[2019-06-04 22:21] tdurand commented on #86
Example command for voc yolov3 with giou weights

```./darknet detector demo cfg/voc.data cfg/yolov3-voc.yolov3-giou-40.cfg yolov3-voc_50000.weights "v4l2src ! video/x-raw, framerate=30/1, width=640, height=360 ! videoconvert ! appsink" -ext_output -dont_show```

[2019-06-04 22:33] tdurand opened #89 "Setup / Docker improvements"
We are waiting for the upcoming / soon to be release Jetpack 4.2.1, this version should bring native docker support to the jetson and greatly simplify our setup process + unify the setup for jetson and the one for nvidiadocker machines.

Then we should be able to:

- [ ] Remove sudo usage in setup script / docker install
- [ ] Detect auto webcam video /dev available when running the install script

[2019-06-04 22:34] tdurand commented on #62
Closing this one in favor of https://github.com/moovel/lab-opendatacam/issues/62

[2019-06-04 22:34] #62 closed

[2019-06-05 05:38] b-g commented on #85
@shams3049 That's great! Congrats!

credits ODC v1
[code]

and for ODC v2 probably something like ... still tbd.
[code]

[2019-06-06 05:56] b-g opened #90 "OpenDataCam at Google Coral?"
We should keep an eye on Google's new ML embedded device platform Coral ... would be interesting to know whether there is a docker-coral option as well, so that we can run ODC there "out of the box" as well.

Talk:
[Introducing Google Coral – Building On-Device AI (Google I/O'19)](https://www.youtube.com/watch?v=Jgm25QdF90A)

😂 Great demo:
https://twitter.com/teropa/status/1136166198733955072

[2019-06-06 11:17] tdurand commented on #90
Yes, I'm following it also, the architecture is different and no way to run darknet / cuda stuff for now.

From what I know you can only run tensorflow stuff on it, but yeah YOLO has implementations in tensorflow.. but no quick win infortunately 😉

[2019-06-06 17:44] tdurand opened #91 "Docker Nvidia Jetson support coming first week of july"
🙌 Coming Soon : https://devtalk.nvidia.com/default/topic/1052748/jetson-nano/egx-nvidia-docker-runtime-on-nano/

**nvidia-docker will be included with JetPack 4.2.1, to be released first week of July**

If they respect the timing we might be able to simplify a bit all our setup for v2 release

cc @b-g @florianporada

[2019-06-07 11:28] tdurand commented on #77
- heat map
- reverse penalty way of doing it, when it is re-assign it lose opacity

[2019-06-07 11:33] tdurand commented on #87
- how many ids there is and compare with reality

[2019-06-12 16:32] tdurand commented on #77
@b-g  , worked on this idea of a heatmap today, let me know what you think, here is a demo, I'm quite happy with the quick prototype:

https://youtu.be/QNJNqWYO_8o

If we go for something like this, we would need those improvements:

- Only draw the heatmap based the last XX seconds / minutes of tracking , so if you change the camera viewpoint or if the scene changes significantly, it reflect the

[2019-06-12 17:42] b-g commented on #77
Hi @tdurand! Many thanks for the neat prototype! I agree! I think it is already working in principle and it would be great feature!

Yes! And I would rather vote on a short time window seconds and not minutes.

What about using an additional small canvas element of the same aspect ratio to draw the detection errors, and not a full blown heatmap lib? Something like:

[code]

Yes. Now maybe is the t

[2019-06-12 17:51] tdurand commented on #77
- Yes, seconds indeed, I'll also put this in the config.json file so people can tweak it.

- Yes for perfs I don't think the heatmap library will be an issue, I tried with a very simple one: https://github.com/mourner/simpleheat , which maybe give us a better look and feel than doing it ourself .. The perfs problem are because I never reset and after 1 min I draw thousands of data points on each f

[2019-06-12 22:38] tdurand commented on #77
cc @b-g , some progress update screencast:

https://youtu.be/Ax5snJ1rOjc

And more:

- WIP Documentation of tracker accuracy display settings: https://github.com/opendatacam/opendatacam/blob/feature-trackeraccuracy/documentation/CONFIG.md#tracker_accuracy_display

- help modal example:
![Screenshot 2019-06-12 at 19 36 38](https://user-images.githubusercontent.com/533590/59391050-76fe0a00-8d49-11e9

[2019-06-13 15:55] tdurand commented on #87
@b-g , I spend a bit of time thinking about this and here is a couple of things I'd like some feedback / inputs to be able to go forward on this. Very much looking for external look on this, I may be overcomplexifying this.... but it would be useless to spend time to build a non-meaningful benchmark

Our initial idea is to compare the number of distinct Ids of the tracker with a "reality" number w

[2019-06-13 19:41] tdurand commented on #87
### MOT Challenge tracker benchmark / evaluation framework

I looked up this, they have multiple metrics that they combine like False negative, False positive, Id switch, fragmented trajectory, etc...

![Screenshot 2019-06-13 at 15 32 01](https://user-images.githubusercontent.com/533590/59458244-6fde0700-8df0-11e9-8cd9-0580ec7f38dd.png)

No clear explanation of how this works, but there is a paper

[2019-06-13 20:32] tdurand commented on #87
Some quick follow-up with some other finding

### py-motmetrics

The lowest effort way to benchmark our tracker would be to test it with the MOT challenge data (for example this video 🤯: https://motchallenge.net/vis/CVPR19-03/gt/ ) , as we do not have to annotate ground truth videos...

I found that there is python compatible implem of the evaluation framework: https://github.com/cheind/py-motmetr

[2019-06-16 15:52] b-g commented on #77
Hi @tdurand, Sorry I'm a bit behind with everything due to my NY trip. Sorry!

Basically the heatmap feature is all great! I would just change the color gradient to something a lot simpler and that visualizes better what is actually going on: e.g. just two steps orange and red, as every cluster stands already for "bad" tracking areas.

I would entirely try to avoid anything "green" as the heatmap

[2019-06-16 16:02] b-g commented on #87
Hi @tdurand, many thanks for the brilliant write up! Sounds like best possible plan to compare our results with the ones of the MOT challenge. 👍

Q:
- Can we use the MOT Challenge data without license issues? (I guess we either want to include a text clip or ask the user to download it and put it in the /test folder)
- Is there also MOT data which is more car centric? Nothing wrong with pedestrian

[2019-06-17 08:44] #85 closed

[2019-06-17 12:09] tdurand commented on #87
Thanks !

- License of the MOT challenge is CC BY-NC-SA 3.0 , so I think there is no problem if we mention them somewhere

- For a more car centric dataset, I also though about this, and unfortunately not... all the dataset are pedestrian centric..... that a big downside of this idea... or we would need to annotate ourself one video... to have some ground truth..

Let's discuss on to go forword on

[2019-06-17 12:10] tdurand commented on #77
Good points will do ! and not problem 😉

[2019-06-17 12:22] shams3049 commented on #87
I can initiate a sub project in my Institute, and outsource it to annotate the video.

Any tools and sample video that you recommend?

[2019-06-17 12:24] tdurand commented on #87
hello @shams3049 , thanks for this... will get back to you next week on this 😉

[2019-06-19 04:12] kevinjosue2326 opened #92 "Document how to run without jetson"
I would like to know if I can install it on a computer other than tx2 or nano, I have ubuntu 18.04 and GPU: RTX Titan 2080 TI. Cuda 10.0, and the specifications that a document in the document as Cudnn 7.3. and tensorRT 5.0, my question is is it possible to run it on a computer with my specifications and if so, what steps would I have to follow because of the architecture and the configurations th

[2019-06-21 16:03] legeiger commented on #88
Maybe this is an easy fix: when creating the docker container from the image there is already the restart=unless-stopped flag passed. If the container would stop with a non zero stop code once the yolo stream ends, the docker daemon would restart it. Maybe this is also a workaround for long time crashes mentioned in #70?  Of course counting lines would be lost..

[2019-06-24 07:25] b-g opened #93 "PoseNet 2.0 with TensorFlow.js"
https://twitter.com/TensorFlow/status/1142111597344821248

[2019-06-24 07:52] shams3049 commented on #93
Is it possible to do transfer learning? from the current models in YOLO to Posenet 2.0!!

[2019-06-24 07:55] b-g commented on #93
No I don't think so ... but one idea could be to make the detection framework e.g. YOLO configurable with a few prepared and selected ones like Posenet.

[2019-06-26 08:31] tdurand commented on #92
Yes it is possible:

- with docker-nvidia , I need to finish the documentation on this and publish a docker image: https://github.com/opendatacam/opendatacam/blob/master/documentation/DOCKER_CLOUDANDDESKTOP.md

- without docker, you need to install all dependencies yourself, and also this is not documented properly yet but it will be something similar to https://github.com/opendatacam/opendatacam/

[2019-06-26 08:39] tdurand commented on #93
@b-g great, they don't tell much about the status of the node.js - gpu  but I guess in a few months it will be much better.

And in the browser with webgl it is very impressive

[2019-06-26 08:47] tdurand commented on #92
Some more context on this https://github.com/opendatacam/opendatacam/issues/64

[2019-06-26 08:48] tdurand commented on #92
It will close this one in favor of #64 , just subscribe to the other one to be updated when ready.

[2019-06-26 08:48] #92 closed

[2019-06-26 08:56] tdurand commented on #64
Todo on this issue:

- [ ] Document how to build a non-jetson compatible runnable docker image (with docker nvidia): https://github.com/moovel/lab-opendatacam/blob/v2/doc/DOCKER_CLOUDANDDESKTOP.md
- [ ] Document how to run this docker image on a desktop / cloud ubuntu with nvidia cuda gpu
- [ ] Document how to install opendatacam without docker on a ubuntu with nvidia cuda gpu ( in this doc: https

[2019-06-26 09:09] tdurand commented on #88
Yes this could be an idea very simple to implement, but I think I will try to restart the YOLO process directly without restarting the whole container so we keep the counting lines and everything is smoother. I imagine when you work on a file you don't want to wait 2 min the docker restart...

Regarding long time crashes yes, we need to see what we want to do, for now we also start the YOLO / Webc

[2019-06-26 09:12] tdurand commented on #76
- [ ] Work on a CODEOFCONDUCT.md section
- [ ] Add a LICENCE.md
- [ ] Work on a simple technical architecture diagram

[2019-06-26 09:16] tdurand commented on #89
Wait for this until release of jetpack 4.2.1 : https://github.com/opendatacam/opendatacam/issues/91

[2019-06-26 09:17] tdurand commented on #91
closing in favor of #89

[2019-06-26 09:52] tdurand commented on #87
Things to discuss on our next meeting later today @b-g :

- Whether it makes sense to spend a bit of time (I think a day) to be able to rank our tracker on the MOT challenge footage for v2 as there are no car dataset and we advertise opendatacam v2 still very much car centric and it might be hard to make much sense of what our ranking will means. (difficult to communicate clearly on this)

-  Shou

[2019-06-26 13:25] #91 closed

[2019-06-26 15:52] tdurand commented on #77
A basic orange to red config works much better indeed:

![screenshot](https://user-images.githubusercontent.com/533590/60195072-c6106880-983a-11e9-8edd-178a38d3e2a2.JPG)

Still todo:

- Release a new version of node-tracker-moving-thing with a way to include the zombies in the output
- Think about a better name than zombie ?

[2019-06-27 08:26] tdurand commented on #87
@shams3049 We will work more on this this fall after v2 release, maybe then it may be interesting to get in touch for collaboration with you.

For now we will just benchmark against standart MOT challenge dataset.

[2019-06-27 08:38] shams3049 commented on #87
@tdurand okay perfect. will look forward to it.

For now there is much to do anyway. Our Jetsons are heating up in the last few days (Hot weather) and shutting down automatically out in the wild, working on old school shades and keep them cool.

[2019-06-27 08:48] tdurand commented on #87
Sounds good.... Yeah everyone is heating up in europe... including jetson's 😉

 I'm curious if you use you own fork of opendatacam or directly this version ? Feel free to open an issue also with "Long run" experienced issues..

[2019-06-27 09:10] shams3049 commented on #87
I keep one or two Jetsons (Depending on the week) always up to date on this version (mostly used for testing). I have some minor configuration changes to this application in the deployed version version.

I have a lot of failures on site, but due to other workload I am not able to get into the  causes. But Definitely towards the end of July I will be working of reliability report, and will be able

[2019-06-27 09:21] tdurand commented on #87
Ok, yes this feedback would be super interesting I think.  I'll try to include in this v2 release (planned for mid-july) some way to auto-restard and restore counting lines / restart recording so if it crashes it will be off for 1-3 minutes and then just create a new entry. Would this helps ?

[2019-06-27 09:28] shams3049 commented on #87
Yes, that would definitely be great on its own in any case.

The problem I see in most of my crashes, is the whole systems becomes unresponsive and freezes. so I don't know it something like an auto restart can get in. unless there is some check at the system level, not at the application level. but I definitely need more time to get to the the real cause of the freeze.

[2019-06-27 09:35] tdurand commented on #87
Hum, the node app / YOLO process doesn't crash, just become very slow ? Or do you see some crash logs ?

BTW: I will delete afterwise this chat here so I keep this issue clean, but you can answer here for now

[2019-06-27 09:49] shams3049 commented on #87
Well the system becomes unresponsive, as in everything freezes, getting any input through is useless.

This happens in random order, Nope, nothing in the log files,

But some cases, It was YOLO, as the feed dies, and Node app logs "No object detected," But that happens only on a USB camera (I am thinking at some point some system functions kicks in and changes power setting or something, that was

[2019-06-27 10:06] tdurand commented on #87
I will consolidate this feedback afterwise in another issue and delete here.

We might very well have a memory leak in our node.js wrapper app, but yeah this will need deeper investigation

I was thinking of a auto-restart at "docker level", I think I can easily do restart if the app throw some error code... but not an expert on this.. I already have in place something that detect if the node app

[2019-06-27 11:35] shams3049 commented on #87
Mostly random, 2 hours in average, I had really few situation were I crossed more then 12 hours.

I will be more in the position as I said by the end of July, to share my reliability report. in that I am going in dive in depth towards the system architecture and point failure towards a more reliable overall running system.

I have a back group in system engineering, One of the approach that I am t

[2019-06-27 14:19] tdurand commented on #87
Many thanks for this, and looking forward to get more back from you later this year ;-) . I'll clean up this chat but create a corresponding issue you can get back to directly

[2019-07-01 08:26] tdurand commented on #77
Ok feature tracker accuracy with heatmap merged

[2019-07-01 08:26] #77 closed

[2019-07-01 15:01] tdurand opened #95 "Improve long term run reliability / performance"
From users, seems after a few hours recording the probability of crash is very high.

**Investigate:**

- Memory leaks: Tracker[ had one](https://github.com/opendatacam/node-moving-things-tracker/issues/11)

- Run opendatacam while monitoring memory usage

- Run raw darknet without opendatacam wrapper and see if it has the same issues

**Improve restoring from crash**

Giving some crashes will be

[2019-07-01 15:02] tdurand commented on #95
@shams3049 please comment directly on this issue when you get to investigate more this, thanks !

[2019-07-01 15:40] tdurand commented on #95
FYI I have fixed a memory leak (which I think was very large) in the piece of code we use for tracking: https://github.com/opendatacam/node-moving-things-tracker/issues/11

It will be included in next beta version (will tag one this week), will be interested in some feedback on whether it improves things.. I have no time to test it myself infortunately

[2019-07-02 06:23] tdurand commented on #76
cc @b-g , first shot at a general technical architecture schema.. Feel free to edit here: https://docs.google.com/drawings/d/1ew5ux-wcMdxqHVwois21zYpXn63UNfM0r48wZcCl84o/edit?usp=sharing

![Technical Architecture Opendatacam v2](https://user-images.githubusercontent.com/533590/60488614-afd33400-9ca2-11e9-9c00-4b7a54f5a4e2.png)

[2019-07-02 06:25] tdurand commented on #76
Also assigned you for Ethics + Licence + Proof read (see first post of this thread)

[2019-07-02 06:42] tdurand opened #96 "Minor UI improvements"
**Features**

- [x] Add download logs on the console / init screen
- [ ] info/help/warning dialogs a bit annoying … maybe add flag ‘understood’ like in Photoshop?
- [x] Add Opendatacam version in the UI
- [x] Fix title in menu to OpenDataCam
- [x] Fix bbox labels to just show the type / percentage in the Liveview if the width is too small they are overlapping each other

**Low level:**

- [ ]  Dat

[2019-07-02 06:43] tdurand commented on #60
Closing this in favor of https://github.com/opendatacam/opendatacam/issues/96

[2019-07-02 06:43] #60 closed

[2019-07-02 09:56] rraapphhaaeell commented on #84
Hey @shams3049,

I'd really like to chat with you about the details on how you're coming along. Would you mind jumping on the phone with me? I'll dm you. :)

[2019-07-02 10:13] tdurand commented on #82
Documented here: https://github.com/opendatacam/opendatacam/blob/master/documentation/WIFI_HOTSPOT_SETUP.md

[2019-07-02 10:13] #82 closed

[2019-07-02 10:18] tdurand commented on #88
Changed this issue into a more global "Improve run on file support"  , cc @b-g

[2019-07-03 07:48] #86 closed

[2019-07-03 07:56] tdurand opened #97 "Support use of custom YOLO weights for a standard Docker installation"
For v2.0.0 release we support this only for a non-docker install of Opendatacam, in order to support it for a standard docker install of opendatacam we should:

- Add a way to mount custom .cfg .weights .data inside the docker container darknet folder when starting the docker container: https://github.com/opendatacam/opendatacam/blob/master/docker/run-jetson/run-docker.sh ( as we do for the openda

[2019-07-03 08:49] tdurand commented on #88
More ideas

- When running from file, should have a frame index instead of timestamp
- Add a "startRecordImmediately" flag on the config.json so we can run Opendatacam on the whole file without missing some frames..

[2019-07-03 08:58] b-g commented on #88
@tdurand
RE: startRecordImmediately
yes ... or for now just a basic command line tool/options and no investment in new UI features

[2019-07-03 09:01] tdurand commented on #88
Agree it is kind of patching something that isn't though for it.. Let's comment here some ideas we can have a decide what to do for v2.1 .

[2019-07-03 10:35] tdurand commented on #73
Closing this one, tracked this todo in the list of #76

[2019-07-03 10:35] #73 closed

[2019-07-03 15:09] tdurand commented on #69
Ok, improved further the API and API docs for v2 release: https://opendatacam.github.io/opendatacam/apidoc/

[2019-07-03 15:09] #69 closed

[2019-07-04 07:04] tdurand commented on #96
FYI I just added a download logs button @b-g 😎 , very good suggestion

[2019-07-04 15:47] b-g commented on #88
I guess ... maybe simply?

`$ opendatacam opendatacam_videos/demo.mp4 --video-input=file --config config.json`

Will overwrite the value `VIDEO_INPUTS_PARAMS: file` in the config.json, everything else in config stays.

[2019-07-04 15:52] tdurand commented on #88
Yes, this would be an improvement of command line to avoid tweaking config.json directly.

[2019-07-04 16:47] tdurand commented on #64
Ok this is done, integrated to master doc and rc.1 released for nvidiadocker container also, I'll also try to do a tutorial for deploying on cloud (example for paperspace): https://github.com/opendatacam/opendatacam/blob/master/documentation/nvidia-docker/DEPLOY_CLOUD.md

[2019-07-04 16:47] #64 closed

[2019-07-04 17:01] tdurand opened #99 "Cloud deploy documentation"
Write example for paperspace: https://github.com/opendatacam/opendatacam/blob/master/documentation/nvidia-docker/DEPLOY_CLOUD.md

[2019-07-05 03:46] tdurand commented on #88
More thoughs on this, once nvidia-docker support lands for Jetsons, we will be able to simplify a lot the setup and overhead we have right now and just build a nice command line interface to start/stop docker containers, maybe we will have one for Opendatacam with UI / and one for Opendatacam headless to run on a file...

[2019-07-05 07:56] tdurand commented on #78
More likely won't make it for v2 website, let's do a simple screencast for now

[2019-07-05 09:43] tdurand opened #100 "Test opendatacam v2.0.0-rc.1"
v2.0.0-rc.1 released 🎉 on all platforms: nano, tx2, xavier and nvidiadocker.

- Documentation reworked a lot, I feel I never wrote as many docs 😎
- New dedicated [Jetson Nano page](https://opendatacam.github.io/opendatacam/documentation/jetson/JETSON_NANO.html) as those users will be the one that need more guidance (and also because it has lots of specificities), I reflashed my device and built th

[2019-07-05 09:43] tdurand commented on #70
Closing this in favor or https://github.com/opendatacam/opendatacam/issues/100

[2019-07-05 09:44] #70 closed

[2019-07-05 09:45] tdurand commented on #67
Closing this, jetson nano got his own documentation page with all the knowledge built around it: https://opendatacam.github.io/opendatacam/documentation/jetson/JETSON_NANO.html

[2019-07-05 09:45] #67 closed

[2019-07-05 10:41] florianporada opened #101 "NVIDIA Jetson Nano Case Build"
### Instructions

**Here are some steps to set up the Jetson NANO in the [Wildlife Cam Casing from Naturebytes](http://naturebytes.org/our-tech/).**

![IMG_20190529_100541](https://user-images.githubusercontent.com/10535875/60716891-c1c20a80-9f20-11e9-99cc-0e1b3ce691e7.jpg)

The casing is originally designed for the raspberry pi 3. The good thing is, that the form-factor of the nano board is not t

[2019-07-05 10:48] florianporada commented on #100
Thanks @tdurand  :) ... I blocked some time for next week to get into the flashing and installation stuff!

[2019-07-05 12:41] rraapphhaaeell commented on #101
Awesome docs @florianporada - we should add this to the wiki. I'll also add other ways to build an ODC - feel free to share yours.

[2019-07-05 12:53] tdurand commented on #101
Great ! Yes feel free to add a markdown file in the /documentation/jetson section: https://github.com/opendatacam/opendatacam/tree/master/documentation/jetson and link it somewhere ;-) .

[2019-07-05 12:54] tdurand commented on #101
Maybe we can add a "enclosure" folder and create one per Jetson ?

[2019-07-05 12:56] rraapphhaaeell commented on #101
yes, also a shopping list per setup would be nice, and a good (in depth) link for the website section on the different models.

[2019-07-05 13:03] tdurand commented on #101
Yep, I already added shopping list Information for the jetson nano: https://github.com/opendatacam/opendatacam/blob/master/documentation/jetson/JETSON_NANO.md#shopping-list .

Next week I can create one for TX2 and one for Xavier even if it will be more limited as most of what you need comes with the developer kit.

Also this ressource is really nice: https://elinux.org/Jetson_Nano, https://elinux

[2019-07-05 13:14] b-g commented on #101
@florianporada Thanks! What about scanning the base plate (think of Kopierer) so that you can print it out and simply mark the custom holes? Then you don't have to fiddle around with a ruler and it will be much quicker ...

[2019-07-05 14:36] MeTaXaS4 commented on #70
I am trying to use the opendatacam with nvidia docker and a webcam and I am getting countless of errors "Video-stream stopped!" can you do a simple change there with a counter or something to not have 100.000 same errors on log? so the log is unreadable after all of those and I cannot find out why the stream don't open

[2019-07-05 14:38] tdurand commented on #70
Hi, yes I feel you.. We would need add some kind of filter...

If you have lots of errors this means that YOLO seems to start...

Please try to restart the docker container, open the app and immediatly click on the show details > download log button so we see the first part of the log.

[2019-07-05 14:40] tdurand commented on #70
Also please comment directly on #100 or create a dedicated new issue, I closed this issue 😉

[2019-07-05 14:43] MeTaXaS4 commented on #100
I tried what you are suggesting but in the first second there are thousands of logs.

another issue don't use `wlan0` and `eth0` for the ip, i had to change it to `wlp3s0` to make it work...

[2019-07-05 14:47] MeTaXaS4 commented on #100
tried to open {ip}:8080/console and managed to see better log, but there isn't something useful why the video stream don't opens

[2019-07-05 14:54] tdurand commented on #100
This is not very important, it is just to display IP adress when using jetsons.. not very relevant for you.

I was gonna suggest this, what can make me help you would be the first part of the log before the crasyness.. If you have nothing meaningfull try to restart docker container, first open localhost:8080/console, and then open localhost:8080 on a second tab that makes Opendatacam start, the fi

[2019-07-05 14:56] MeTaXaS4 commented on #100
video input is a webcam and it doesn't work, how can I tweak it?

it works with the file

[2019-07-05 14:59] tdurand opened #102 "Allow usbcam access for nvidiadocker docker container"
I think we need to mount the dev/video on the docker container, or run it priviligied as we do for the jetson docker container wrapper.

[2019-07-05 15:00] tdurand commented on #100
Ok great 😁

I've created this issue https://github.com/opendatacam/opendatacam/issues/102 , I'll add documentation and improve this next week... I'm not sure right now how to do it... Just follow this issue and I'll ping you once fixed. Many thanks for reporting this, we just never tested this use case.

[2019-07-08 01:39] muukkivi opened #103 "Counting from video file only once"
If i choose "file" instead of "usbcam" in config.json then the system plays the demo video several times. Is it possible to make sure the video is played only once? For otherwise when counting the cars from a pre-recorded file it would mess up with the final score.

[2019-07-08 08:59] MeTaXaS4 commented on #102
I have added that `--device=/dev/video0:/dev/video0` in both `run-docker` and `run-nvidiadocker` but the stream still fails

[2019-07-08 19:25] muukkivi commented on #103
My bad the framerate in video from file is lower than live feed.

[2019-07-08 19:26] #103 closed

[2019-07-09 06:23] tdurand commented on #102
Many thanks, I'll get the time to have a look today / tomorrow, I'll let you know.

[2019-07-09 07:12] florianporada commented on #101
@b-g . This is a good idea! The pictures with the ruler where meant more for an overview.
My initial thought was, that the build included the 'rotation-technique' 😃 .. but I will include the scan of the baseplate.

[2019-07-10 05:13] tdurand commented on #102
For me this works, just tested... Do you still have an error ? (as you sent a PR maybe it works for you know)

[2019-07-10 06:16] tdurand commented on #102
I merged your PR but I didn't enable this --device flag by default because if no usbcam are connect the docker container won't start... So I just documented it: https://github.com/opendatacam/opendatacam/blob/master/documentation/CONFIG.md#run-from-an-usbcam

For v2.1 I've added to the todo list to improve the setup, we aim to just read the config.json file and add the correct flags accordingly: h

[2019-07-10 06:16] #102 closed

[2019-07-10 07:25] MeTaXaS4 commented on #102
add to the documentation that the user needs to start only the script after that and select platform do not download again all the files

[2019-07-10 07:31] tdurand commented on #102
Yes this is documented here: https://github.com/opendatacam/opendatacam/blob/master/documentation/CONFIG.md#for-a-standard-install-of-opendatacam

[2019-07-10 07:32] tdurand commented on #102
At some point we will need to migrate to a website for the documentation to be able to add this information for every config modification, but I do not want to duplicate too much on the markdown files.

[2019-07-10 12:50] MeTaXaS4 commented on #100
How can we handle issues like that?

[code]

[2019-07-10 12:52] MeTaXaS4 commented on #97
why not to have a folder like `configs` and have there the `config.json` and all the `yolo` files and if the files exist then copy them to docker container?

[2019-07-10 13:05] tdurand commented on #97
Yes, we will do that, it is indeed pretty simple, but do not have time to to it properly for v2 release.

I want to simplify a bit this mess of install that pulls lots of stuff to something a bit more understandable

[2019-07-10 13:07] tdurand commented on #100
For now you need to manually restart everything... we have an issue for long term reliability: https://github.com/opendatacam/opendatacam/issues/95

[2019-07-10 23:46] muukkivi opened #106 "Without docker version freezes on local host after a few hours"
Basically ubuntu freezes for at least a 30 to 45min long period at some point while running the opendatacam on jetson tx2 nvidia 4.2 version giving after the freezing following error:

==== HTTP Stream closed by darknet, reset UI, might be running from file and ended it or have troubles with webcam and need restart =====
Process YOLO error
Error: Cannot stop process that is not running.
    at /ho

[2019-07-11 06:50] tdurand commented on #76
See this other tool to generate a website from technical doc: https://www.docsy.dev/  (by Google) , with https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html these would be too ways to improve our technical doc experience as we grow them in the future. _(for example many place in the doc I would like to repeat something or do a condition to make it more digest, but with raw

[2019-07-11 06:52] tdurand commented on #106
Hi,

Yes, we are aware of issues with long time runs and want to dedicate time in future release on this, see https://github.com/opendatacam/opendatacam/issues/95  for updates on this, also any pointer from your investigations is welcome.

In this case, seems that the Darknet process crashed...

Best

[2019-07-11 06:52] #106 closed

[2019-07-11 07:01] shams3049 commented on #76
I personally thing the user device tobe just be a remote control, access and storage point, sort of conveys the true potential for this application.

https://purepng.com/photo/25166/clipart-dedicated-server

[2019-07-11 07:07] shams3049 commented on #106
I keep the frames from the feed to 10 FPS, in the config file. In my prospective, there is some clogging over time. I will share a more deeper report in the next few weeks, till then Low FPS in the way to go, speaking from experience,  as the USB feed fails much sooner then the csi camera feed on Jetson TX2

[2019-07-11 07:13] shams3049 opened #107 "Error with message not valid JSON"
This is new one, any ideas?!

![Screenshot from 2019-07-11 09-10-39](https://user-images.githubusercontent.com/4646205/61029662-d4728e80-a3bb-11e9-8b59-27c608d25f65.png)

[2019-07-11 08:18] tdurand commented on #107
This happens when nothing is detected in the frame I think... I need to improve this.. But it shouldn't impact the app, just pollute the logs

[2019-07-11 08:53] shams3049 commented on #107
I have a feeling it's coming from corrupt JSON file, that happens when the app crashes.

What do you think about, making the docker image to iteratbale, so if the JSON fails we can manually take out the data and reset the internal memory.

[2019-07-11 09:28] tdurand commented on #95
The first test that we will need to do is to run https://github.com/AlexeyAB/darknet alone and see if it crashed the same way.. This would mean it is not our wrapper app that has issues.

[2019-07-11 09:31] shams3049 commented on #107
Thank you for the context, it makes it more clear for me. I was wrong

I am seeing this error one two devices now, and not able to start the app,

[2019-07-11 09:34] tdurand commented on #107
Hum... Since upgrading to rc.1 ? I didn't change anything in that part of the code since the beta so I doubt it's coming from a recent change.

[2019-07-11 09:36] tdurand commented on #107
I've updated our darknet fork 1 month ago: https://github.com/opendatacam/darknet ... this might be the only change.. but yes this could cause issue that you didn't have previously

[2019-07-11 09:38] tdurand commented on #107
BTW if you install opendatacam without dogger, and you put the Logger variable to true : https://github.com/opendatacam/opendatacam/blob/master/server/utils/Logger.js#L5 , you will be able to better debug this.

[2019-07-11 09:53] shams3049 commented on #95
I'll do it on one of my Jetson's but without docker container overnight tonight, and see how long https://github.com/AlexeyAB/darknet lasts.

[2019-07-11 13:09] florianporada commented on #100
@tdurand I put some time into testing the new version of the ODC.

Notes:
TX2:
- the installation is still super simple and I don't see a problem with the documentation. Maybe one thing could be that somebody without knowledge about the project could also do an installation process. I will ask around if somebody is willing to do that.
- At least on the TX2 that I'm using is recognizing two cameras

[2019-07-11 14:14] tdurand commented on #100
@florianporada Many thanks, feel free to update the documentation 😉

[2019-07-11 16:20] florianporada commented on #101
https://opendatacam.github.io/opendatacam/documentation/jetson/HOUSING.html

Further thoughts @b-g , @rraapphhaaeell ?

otherwise feel free to close this issue

[2019-07-11 16:29] b-g commented on #101
@florianporada Just checked it. Mega nice documentation to get a nice housing for the Nano! Great! 👏

[2019-07-12 21:05] felixJets commented on #100
Hi,

following the instructions for the installation without docker, I had no problems to start opendatacam on my Jetson TX2. ( and I'm not really experienced in this topic, so I guess that is a good sign).
Just a few comments:

- I was not able to set up a hotspot following the WIFI_HOTSPOT_SETUP.md instructions ,
  adding the line:  options bcmdhd op_mode=2  to  /etc/modprobe.d/bcmdhd.conf solve

[2019-07-15 06:58] tdurand commented on #100
Hi @felixJets , many thanks

Could you do a PR adding a Troubleshooting section in the WIFI_HOTSPOT_SETUP documentation ?

Yes this is documented here: https://github.com/opendatacam/opendatacam/blob/master/documentation/CONFIG.md#use-custom-neural-network-weights

change the width and height (only multiples of 32 work, right?)
changing the width and height to 320 in yolov3.cfg, i got at least 7-8

[2019-07-15 07:44] florianporada commented on #100
Hey @felixJets,

thanks for testing the process and for all the thoughts you've written down! 👍

Regarding the power supply topic: As long as the external power supply (or the powerbank) matches the criteria of the board, I see nothing wrong with using the powerbank.
You can also cross-check the specs with this thread: https://devtalk.nvidia.com/default/topic/1006369/jetson-tx2/power-requirement-f

[2019-07-15 09:29] anasBahou opened #108 "Memory usage increases gradually on Jetson-nano"
Hello everyone, i'm having an issue with memory usage in Jetson-nano.
I'm using ODC without docker with rasberry Pi camera Module v2 and yolov3-tiny.
Once I start ODC, my memory usage increases gradually till saturation.
![Screenshot from 2019-07-15 11-19-10](https://user-images.githubusercontent.com/36683886/61206763-a9f23f80-a6f3-11e9-8fb0-ab7b6d1bc86e.png)

Any idea how to resolve this.

[2019-07-15 13:24] tdurand commented on #108
Hi ! Yes, this is a know issue, please continue the discussion here: https://github.com/opendatacam/opendatacam/issues/95

[2019-07-15 13:24] #108 closed

[2019-07-15 15:26] felixJets commented on #100
@tdurand @florianporada, thanks for the answer.

I did a PR ( I hope it is okay, I'm not very experienced in editing stuff on Github)

I think I will give the above mentioned powerbank a try ( I will give some feedback on it after testing)

[2019-07-22 09:26] anasBahou commented on #95
Hi, I've tested https://github.com/AlexeyAB/darknet on my Jetson Nano without a docker and using a raspberry camera :   the memory usage kept increasing until it crashed in 15min.
I used this command to test:
./darknet detector demo cfg/coco.data cfg/yolov3-tiny.cfg yolov3-tiny.weights “nvarguscamerasrc ! video/x-raw(memory:NVMM),width=1280, height=720, framerate=30/1, format=NV12 ! nvvidconv ! vi

[2019-07-22 10:00] shams3049 commented on #95
I ran https://github.com/AlexeyAB/darknet  on Tx2 for more then 4 hours, and it worked. Overnight run (longer then 4+ hours) always failed. In All cases, I find the system shut down in the morning, with no clear clue of what might have happened.  In there a system wide logger on TX2 to get an insight on to what happend?!

[2019-07-22 10:06] anasBahou commented on #95
In my case, it was a memory saturation problem. It might be a memory leak. But, what i can't understand is:  why does it work fine on my computer??

[2019-07-23 21:18] muukkivi commented on #100
try without framerate=30/1, width=640, height=360, just remove these and check again with cam.

[2019-07-25 04:04] arnoldhoward opened #110 "ALPR on opendatacam"
I gonna implement ALPR on opendatacam.
I saw this issue .
https://github.com/opendatacam/opendatacam/issues/63
I have a different idea with this.
I'd like to know how can i change the detection part...
Thanks.

[2019-07-25 12:17] anasBahou commented on #95
@tdurand @shams3049 I'm trying to install [Deepstream and tensorrt-yolo-app](https://github.com/NVIDIA-AI-IOT/deepstream_reference_apps/tree/master/yolo) to test if they have the same memory problem as  https://github.com/AlexeyAB/darknet

Do you have any experience with this 2 tools ?? If yes, do you think it would be better to replace darknet with one of them ??

[2019-07-26 20:25] llobiancoale commented on #96
Hi i would like to see an option to resize the video/stream (if it isnt already there)
And an (auto)restart Funktion if it has connection Problems with an ipcam

[2019-07-28 09:02] tdurand commented on #95
@shams3049 So it seems the core darknet framework might be the root of the problem for long term run. Maybe this : https://github.com/rbonghi/jetson_stats could help you with system logging.

@anasBahou

- Jetson's (and specificaly jetson nano) are more limited with memory so it might be the reason why it crashes on the nano and not on your computer.

- yes Deepstream and tensorrt yolo implem shou

[2019-07-28 09:41] tdurand commented on #110
Hi, please refer to the technical architecture documentation for help to understand opendatacam code source: https://github.com/opendatacam/opendatacam/blob/master/documentation/DEVELOPMENT_NOTES.md#technical-architecture

Let us know how it goes for you... We aren't working on this now, but we will update future progress on #63

[2019-07-28 09:41] #110 closed

[2019-07-28 09:47] tdurand commented on #95
@anasBahou BTW you should look into the new https://developer.nvidia.com/deepstream-sdk v4.0 which seems to provide more features... I'll try to find time to properly benchmark it...

[2019-07-28 11:12] anasBahou commented on #95
@tdurand Thanks a lot for the reply. I recently upgraded to Jetpack 4.2.1 but it didn't improve anything.
I'm testing deepstream v4.0 framework but as you said it's more difficult to use then darknet.
I let you know if I discovered anything.

_Have a nice holidays_

[2019-07-30 18:06] repoAI opened #111 "trying to install opendatacam-2.0.0-rc.1 on jetson nano - darknet issue"
i trying to install opendatacam on my jetson nano, without the docker (the docker is working fine)

i followed the instructions but when i try to make the darknet, i getting :

chmod +x *.sh
nvcc -gencode arch=compute_53,code=[sm_53,compute_53] -Iinclude/ -I3rdparty/stb/include -DOPENCV `pkg-config --cflags opencv` -DGPU -I/usr/local/cuda/include/ -DCUDNN --compiler-options "-Wall -Wfatal-errors -

[2019-08-01 11:57] anasBahou commented on #95
@tdurand I've succefully tested deepstream v4.0 framework on yolov3-tiny with a CSI-camera.
I can save the detections(JSON format) to a directory .
Also, I can create a RTSP stream of the video with detections.
**TO DO :**
- Expose detections stream on "port_num"
- Convert the RTSP stream to MJPEG stream.

If you have any suggestion about this, let me know.

[2019-08-01 23:41] muukkivi commented on #95
My set without docker on jetson tx2 jetback 4.2.1 using the logitec webcam in usb hub crashes in a few minutes now. On the other hand running just darknet yolo with yolov2 or yolov3 does not crash. I tried alexeyab without the small change from opendatacam that hides the coloured frames. I ran it overnight. Since i am new to linux and jetson i might have also missed something.

[2019-08-02 07:47] tdurand commented on #95
@anasBahou Great, I'll let you know when I'll have time to benchmark it myself.. Did you notice any performance boost ? reliability improvements ?

@muukkivi  You mean with the last darknet from alexeyab it ran without crashing overnight ? In the next update of opendatacam I'll update our "fork".

[2019-08-02 08:00] anasBahou commented on #95
I noticed a boost in performance : ~22 FPS (deepstream) compared to ~ 13 FPS  (darknet) using yolov3-tiny. Also, there is no memory saturation/leak. For more details on Deepstream performance check : https://docs.nvidia.com/metropolis/deepstream/4.0/dev-guide/index.html#page/DeepStream_Development_Guide%2Fdeepstream_performance.html%23wwpID0EVHA

[2019-08-02 08:20] muukkivi commented on #95
I ran just darknet alexeyab on its own to check if it works without opendatacam. I think it was the last one but have to check since i am away from my computer.

[2019-08-02 08:29] anasBahou commented on #95
@muukkivi did you noticed any increase in memory usage when testing darknet ??
You can use system monitor and track the memory usage of darknet.

[2019-08-02 08:32] muukkivi commented on #95
I can check that next week, but by its behaviour - the freeze of screen, mouse and disconnection of wifi, it looks like that.

[2019-08-05 09:31] tdurand commented on #111
Hi,

Seems CUDA isn't propertly installed on your jetson...

Try re-flashing your jetson nano with latest Jetpack : https://developer.nvidia.com/embedded/learn/get-started-jetson-nano-devkit

[2019-08-06 05:11] tdurand commented on #111
I'll close this, feel free to re-open if you still have an issue

[2019-08-06 05:11] #111 closed

[2019-08-06 05:18] tdurand commented on #89
It came out with Beta support for docker container 🎉: https://github.com/NVIDIA/nvidia-docker/wiki/NVIDIA-Container-Runtime-on-Jetson

[2019-08-06 07:26] tdurand commented on #95
I can save the detections(JSON format) to a directory .
Also, I can create a RTSP stream of the video with detections.

@anasBahou Sorry I didn't comment this

- There is a ways to hook to a RTSP stream on the server side of opendatacam and expose MJPEG, but this might require to run ffmpeg and might cause some performance problems  .... _(Seen this project that does something slightly more advanc

[2019-08-06 09:00] anasBahou commented on #95
@tdurand Thanks for the reply.
I didn't find any plugin to expose directly a Mjpeg stream.
To save detection,  you  may use a message broker with a custom adapter for HTTP( u need to build it from scratch). Unfortunately, I couldn't do it. So , I tried a different approach.

Yesterday, I succeded to use [http_stream from darknet](https://github.com/AlexeyAB/darknet/blob/master/src/http_stream.cpp)

[2019-08-06 09:03] tdurand commented on #95
Sounds good, I probably only will be able to assess Deepstream v4 after v2 release , your work will be super usefull !

[2019-08-06 14:03] tdurand opened #112 "Evaluate using Deepstream SDK as our main neural network framework"
https://news.developer.nvidia.com/deepstream-sdk-4-now-available/

_This would replace https://github.com/AlexeyAB/darknet which seems to be causing [some reliability issues](https://github.com/opendatacam/opendatacam/issues/95) + enable us to add more features to opendatacam and rely on an official nvidia compatible + tested solution_

**Features:**

- at least 50% performance inference boost ( 1

[2019-08-06 14:07] tdurand commented on #95
@anasBahou I created a dedicated issue for the Deepstream v4.0 SDK integration: https://github.com/opendatacam/opendatacam/issues/112 , I took the time to read some of the documentation this morning and run the basic YOLO demo on the nano and I'm very enthousiastic on this... It really sound a good candidate to replace the darknet piece of opendatacam. cc @b-g

Timeline wise we won't have time to

[2019-08-06 14:12] tdurand commented on #89
After a quick evaluation of jetpack 4.2.1, seems the docker support for jetson is still a bit beta, and raspberry pi cam isn't supported for now ... Let wait a bit before rewamping all our setup flow.

Let's just mention that opendatacam v2 is compatible with jetpack 4.2.1 .

[2019-08-06 14:18] tdurand commented on #112
WIP from @anasBahou 🙌  : https://github.com/opendatacam/opendatacam/issues/95#issuecomment-518579455

- Wrote a plugin for Deepstream v4 to send the detection as a stream (based on the darknet implem)
- Investigating the MJPEG stream part

[2019-08-06 18:36] b-g commented on #112
@tdurand Many thanks for putting the list together! Yes Deepstream SDK seems the way forward, the performance boost would be welcome and the ability to pipe together a pipeline of "processing modules" like YOLO would be mega as well! 🤞

[2019-08-06 18:38] b-g commented on #112
@anasBahou Many thanks for the "proof of concept"! Yay!

[2019-08-06 19:04] shams3049 commented on #95
I am working on https://www.balena.io/ for Jetson TX2 IOT (remotly deploy/manage) the docker container for OpenDataCam . Its too early to say anything but I think DeepStream 4.0 would be a good path too. I am going to include it in my path too, and see how it goes.

[2019-08-08 14:18] anasBahou commented on #112
@tdurand I finally succeded in creating both the JSON Stream and MJPEG Stream( using ffmpeg).
I integrated deepstream in Opendatacam project and It works.
I'm still tracking the overall performances. The results on yolov3-tiny configuration :

- ~20 FPS .
- No memory problem (I still need to run an overnight test).

BUT, there is only one [little problem](https://devtalk.nvidia.com/default/topic/1

[2019-08-08 14:25] tdurand commented on #112
@anasBahou Wow ! Mega ! The confidence value isn't used at all in Opendatacam besides displaying it on the screen. The tracker doesn't use it... So it won't impact anything.

Will you be able to share back your work on this ? Totally understand if you can't .. I'm gonna be able to have a look at this end of this month / beg september and it would be really helpful

[2019-08-08 14:33] b-g commented on #112
@anasBahou Mega!! 🎩! Sounds super!

Yes for now  ... but obviously it would be important to have the confidence value for potential further processing of the collected data. We don't know all the use case the users want to achieve with ODC.

Maybe we could simply file an issue to the deepstream framework team to make it clear that this feature would be great?

[2019-08-08 14:34] anasBahou commented on #112
I'd like to share all of my scripts with you but I can't. However, I'd definitely share my method, the key parts of my works and help with some potential issues with integrating this new framework.

[2019-08-08 14:35] anasBahou commented on #112
Already done. See [this](https://devtalk.nvidia.com/default/topic/1058661/deepstream-sdk/nvinfer-is-not-populating-confidence-field-in-nvdsobjectmeta-ds-4-0-/post/5369589/#5369589).

[2019-08-08 14:47] tdurand commented on #112
@b-g @anasBahou Regarding confidence score.. yes I'm sure it will be fixed on the deepstream side.. thanks for opening the issue... One downside of deepstream seems to be it is closed source or ?

@anasBahou Ok ! Looking forward to get some insights about this... and please let us know what you keep learning using it (potential issues, limitations, reliability test ...) . We are enthousiatics abou

[2019-08-08 15:05] anasBahou commented on #112
What do you mean by closed source ?? No github repository??

[2019-08-08 15:06] tdurand commented on #112
No no, I though the core of deepstream v4 was closed source, but it is not the case from what I see in the forums.. Just didn't see where to download the code yet as I didn't work on it

[2019-08-08 15:11] anasBahou commented on #112
@tdurand After installing DS4 you can acces the source codes and remake the deepstream main app. There is also many tests provided to customize the framework.

[2019-08-08 15:42] tdurand commented on #88
Some update on this.. Turns out that darknet doesn't support running on a video file and outputting result as a json file. It does only support this for a single image or for a stream.

It didn't seem that hard to port some of the C code to support also this for a video, so I went ahead and made it: https://github.com/AlexeyAB/darknet/pull/3723 .

With this PR darknet has a new option ( -json_file

[2019-08-08 16:46] tdurand commented on #87
Some update on this,

### Making node-moving-things-tracker compatible with MOT challenge input / output

This is done, still in a separated branch but kind of ready to release, I've wrote a little documentation about it: https://github.com/opendatacam/node-moving-things-tracker/blob/mot/documentation/BENCHMARK.md

Added a new mode in the command line tool:

`node main.js --mode motchallenge --inp

[2019-08-11 14:06] b-g commented on #88
Many thanks for the updates and the great progress! Yes, let's discuss once we are both back in office. Happy 🏝! B

[2019-08-13 13:26] b-g commented on #101
Done! Closed with https://github.com/opendatacam/opendatacam/blob/master/documentation/jetson/HOUSING.md

[2019-08-13 13:26] #101 closed

[2019-08-14 12:55] anasBahou commented on #112
I've finally fixed the confidence problem. Everything seems to work fine.
Now, I'm running some tests to see if there is something to improve.

[2019-08-14 12:59] b-g commented on #112
@anasBahou Mega!

[2019-08-14 13:01] b-g commented on #112
Interesting would be to check with the upcoming Benchmark / Test mechanism whether deepstream has the same performance ...

Work in progress:
https://github.com/opendatacam/node-moving-things-tracker/blob/mot/documentation/BENCHMARK.md

[2019-08-14 13:06] anasBahou commented on #112
I'll definitely try that later. For know, I think I'm gonna focus on creating a better way to Stream MJPEG  (meaning without FFMPEG).

[2019-08-15 21:03] thimabru1010 opened #114 "Please add License to this project"

[2019-08-23 08:29] anasBahou opened #115 "start Opendatacam without waiting for the first detection"
Hi,

How can we start Opendatacam without waiting for the first detection??

Thanks.

[2019-08-23 08:43] anasBahou commented on #112
Hi @tdurand @b-g. Unfortunately, I couldn't create MJPEG Stream without FFMPEG due to some complications in deepstream application.
Now, I'm trying to handle errors and add auto-restart of Opendatacam.
I have a problem with starting Opendatacam. It always waits for the first detection to start.
I'd appreciate your help to fix it. I created a separate issue to investigate it : https://github.com/op

[2019-08-23 08:52] tdurand commented on #115
Those two pointers might help you:

- We only start the darknet process when we have a first HTTP request: https://github.com/opendatacam/opendatacam/blob/master/server.js#L101  , if you want to start the darknet process before, just move what is inside this handler outside.. But you will maybe need to hardcode "localhost" in the listenToYOLO funcion in Opendatacam.. Not sure the best way to go..

[2019-08-26 16:51] #115 closed

[2019-08-28 07:22] thapliyalshivam commented on #114
I also think we can go ahead with MIT if we want to encourage a lot of people to try the software and get creative. The only issue I can think of is **if someone makes further modifications to this project, they need not open-source those changes** under MIT. If we provide a GPL license, devs using this project need to open-source the modifications they make. It boils down to whether or not we wan

[2019-08-28 07:35] tdurand commented on #114
I would also vote for MIT , which in my opinion free us of worrying about legal aspects related to this project..

As you said @thapliyalshivam it implies that forks / modifications of this project won't necessarily by contributed back, but I guess I would prefer to encourage wide use of this project (and creating a community) , and discussion around it that can be as valuable as actual code contr

[2019-08-28 07:39] #76 closed

[2019-08-28 07:45] tdurand commented on #114
@thapliyalshivam Regarding CONTRIBUTING.md .. Feel free to open a new issue with some ideas / question you have, would help define what to put into it... Let's structure the project contribution guidelines as contribution are coming..

[2019-08-28 07:52] thapliyalshivam commented on #114
@tdurand
I also agree on going ahead with MIT so as to encourage wide discussions and usage without getting into legal aspects,

Regarding CONTRIBUTING.md, I will open an issue today.

[2019-08-28 08:27] shams3049 commented on #114
**MIT** licence works in our case as well.

The legal team from our intitute gave us a green light to share our work and data publiclly at the end of the project for undisclosed use case with no ties.  as opendatacam a core component, I tihnk MIT works perfect to expand upon without any liabilities.

As the use cases for the project are quite diverse, I also think that we need to have a more detai

[2019-08-28 15:27] tdurand opened #117 "Test SlimYOLOv3, "third party" YOLOv3 Weights claiming 2x FPS boost"
https://github.com/PengyiZhang/SlimYOLOv3

From what I understood they trained only on mobility classes https://github.com/PengyiZhang/SlimYOLOv3/blob/master/VisDrone2019/drone/labels.txt  and claim a 2x FPS boost for comparable accuracy

Accuracy seemed to have been measured on the VisDrone dataset: http://aiskyeye.com/ , unclear is training has been done on this also.. But this could be a great

[2019-08-28 18:09] tdurand commented on #117
@b-g No, this works with the same darknet implem as ours from what I understood (and also with a tensorflow one.. and hopefully the deepstream one....)

It is just a switch of weights and other bunch of config file to supply to darknet.

Actually the author of our darknet fork commented on SlimYOLOv3 repo: https://github.com/PengyiZhang/SlimYOLOv3/issues/18

[2019-08-28 18:17] tdurand commented on #117
Some more discussion going on on the darknet repo: https://github.com/AlexeyAB/darknet/issues/3732

Seems that it is trained for Drone imagery and only for this. And perform faster and better on that kind of imagery than default Yolov3 weights.. Which would be a nice optional choice to add to opendatacam depending on users needs

[2019-08-28 20:27] anasBahou commented on #114
I don't know a lot about licences  but **MIT** works for my case. Whatever you choose I would be happy to contribute as much as possible.
@b-g I think "contributor" video conference Skype/Zoom/Hangout would be a great way to discuss big issues. Count me in.

[2019-08-29 12:36] tdurand commented on #100
Many thanks to everyone for the help to test opendatacam v2 , we just released a new website featuring this new version, https://opendata.cam and stay tune for [upcoming updates](https://github.com/opendatacam/opendatacam/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+milestone%3Av2.1)

[2019-08-29 12:36] #100 closed

[2019-08-30 14:19] dackdel commented on #114
https://en.wikipedia.org/wiki/WTFPL just going to leave this here as an option. dont mind me.

[2019-09-04 09:16] gargle256 opened #119 "Use OpenDataCam with a Moving camera"
Hi,

what is the performance of OpenDataCam with a video stream embedded on a car/bike or a plane ?
Do you stabilize image before detection ?
Thanks for answer.

Best regards,
Philippe

[2019-09-04 09:23] shams3049 commented on #119
Thats actually a really cool test.

I dont think there is any video stabalization steps in the preprocessing of Darknet. Only downsizing, that I am aware off.

[2019-09-04 13:16] gargle256 commented on #119
Hi,
if you want, there is some videos like this one : https://www.youtube.com/watch?v=BlSaYUgKOcA
to test and improve the software.

Best regards,
Philippe

[2019-09-04 20:04] thapliyalshivam opened #120 "CONTIBUTING.md"
Hey all, since the project seems to be growing well, I wanted to open this as an idea to add a CONTIBUTING.md to help people guide how to build and contribute to opendatacam. This will also make easier for us to bring some standard in PR raised and making a procedure. A very rough skeleton of the file I thought of is given below. Please add your ideas and thoughts on this.
1 - Welcome
2 - getting

[2019-09-04 20:36] b-g commented on #114
Hi @dackdel thanks for the pointer to WTFPL! I think I'm not very fond of WTFPL, I like very much the bit do what you want with it part, but not that you don't have to credit the original project ais I understand it. For me (someone with a background in Art & Design) it is important to get the credits right in the sense of "authorship" ... hope that makes sense for you too :)

[2019-09-04 20:46] b-g commented on #120
Hi @thapliyalshivam cc @tdurand,

Many thanks for this! Yes a structure like this could work ... but it obviously depends on the contents of each sections :)

You might want to browser a few projects which have IMO a nice CONTRIBUTING text e.g.:
https://github.com/ml5js/ml5-library/blob/development/CONTRIBUTING.md
https://p5js.org/community/

I think it also would be nice to incorporate something

[2019-09-05 15:17] tdurand commented on #120
- @b-g Very much like the idea of all-contributors . I think Opendatacam could use lots of contribution coming from non-code contribution, which is already the case.. real world usage feedback, ideas of improvements, testing etc etc... and mentionning people contributing this kind of things would be great.. Seems we can easily add a bot that keeps it up to date: https://allcontributors.org/docs/en

[2019-09-05 15:31] tdurand commented on #119
Hello,

I confirm that there is no stabilization process .. And I think this would be outside the scope of this project as it is a pretty complex thing on his own. That said we could mention somewhere in the documentation some pointers to stabilization techniques.. feel free to open a PRs if you have things to share on this subject.

Also please note that opendatacam is heavily oriented for fixed

[2019-09-09 21:11] b-g opened #121 "1. Contributor Video Conference Call"
Hi all!

As discussed in #114 it would be great to have a contributor video conference call in the next weeks. As we are all in different time zones (I'm are of US ET via Europe to India ST) ... I've tried to find a compromise which hopefully works for all. Here is a doodle for potential time slots:

👉 https://doodle.com/poll/6444t8w9vegmy2nz

cc @tdurand @florianporada @anasBahou @shams3049 @thap

[2019-09-10 08:52] pacmanii opened #122 "Increase/decrease counter depending on direction"
Is it possible to increase or decrease counter depending on the direction the object is crossing the line? For example how many cars are in the parking garage or people in the theater?

[2019-09-10 09:02] hoijui commented on #114
If you choose a permissive license like MIT, it means others can take your work, improve it a lot, and keep the improvements for themselves/proprietary, potentially selling it for a lot of money.
I personally would not like that for my projects and the work I put in. I want my work to remain as free as possible, and available for as many people as possible.

[2019-09-10 09:06] shams3049 commented on #122
To my knowledge it not possible to decrease the counter, as the traking ID is not that consistant.

The way I approched it, is by having two simultanius counters (short distance appart). That makes it possible to identify the direction from the time log (also gives you speed, if you place them cleaberly, and know the excat distance between the tracker lines).

[2019-09-10 12:15] tdurand commented on #122
I think it doesn't matter if the ID is consistent when the car is parked because what @pacmanii seems to be interested here is the absolute value of how many cars crossed the line in one direction or the other. In my opinion this use case should work pretty well with opendatacam.

@shams3049 solution is clever, but I think we could do simpler as the tracker: https://github.com/opendatacam/node-mov

[2019-09-11 09:32] akuckartz commented on #112
I am not happy with dependencies on NVIDIA hardware...

[2019-09-11 13:06] b-g commented on #112
@akuckartz thanks for pointing that out! :)

But as we already rely on the very core totally on the NVIDIA CUDA api and the GPU supporting it ... I don't see any pragmatic possibility for not having dependencies to NVIDIA in ODC.

However if we go down the route of the Deepstream SDK (and foster with this the dependencies to NVIDIA even further), then we have to make sure that ODC runs on every ha

[2019-09-11 13:13] anasBahou commented on #112
I think we could manage to use both Deepstream and Darknet. The user can just specify the Framework in the "config.json" file.

[2019-09-11 15:08] tdurand commented on #112
FYI Darknet has already a hard dependency on CUDA (to run on GPU) .. hence on nvidia hardware..  A switch to deepstream SDK wouldn't change anything on that end. Deepstream will have the same CUDA dependency.

By the way almost every deep learning framework only works with CUDA: https://towardsdatascience.com/on-the-state-of-deep-learning-outside-of-cudas-walled-garden-d88c8bbb4342  , that said, w

[2019-09-15 20:08] gmonk opened #123 "Question"
I work in the Traffic Industry at local agency in Arizona.  My question is how much does performance degrade in high temps ? Arizona is know to reach 110+ at certain times of the summer and I was wondering if you have any deployments in high temp areas such as AZ and did those temps impact detection and operation.  I would also like to know which nvidia product is recommended TX2 or Nano for Vehic

[2019-09-15 20:49] tdurand commented on #123
Hi !

- I have no answer regarding high temperature... Only tested at "normal" temps. I guess if you reach the point that the hardware need to throttle cause of cooling issues, it might crash...

- TX2 will always perform better than a Nano as it can run a better config of the neural network. See: https://github.com/opendatacam/opendatacam/blob/master/documentation/CONFIG.md#change-neural-network-

[2019-09-15 20:52] b-g commented on #123
Hi @gmonk, Thanks for the interest! But I think this is not the perfect forum for really detailed hardware question around the Jetson boards. I would recommend to reaching out to NVIDIA directly. Great would if you could post the answer here again. Would love to hear what NVIDIA is saying in terms of high temperatures! :)

[2019-09-16 07:01] shams3049 commented on #123
We had few hot days in Germany this summer, and all our TX2 were shut down within 15 min after we left them in the sun (temprature that day was 42 CC, 107 F).

We now have a cooling setup with our tx2, but unfortunatly no more hot days in Germany anymore to know if our solution works.

TX2 can be easially mounted in mini ATX case, which allow for many cooling options.

[2019-09-16 13:51] tdurand commented on #123
thanks @shams3049 ! @gmonk I'll close this issue but feel free to reopen if you have further questions

[2019-09-16 13:51] #123 closed

[2019-09-17 19:04] tdurand opened #124 "Test YOLO-v3 PartialResidualNetworks, "third party" weights (claiming 20% FPS boost)"
https://github.com/WongKinYiu/PartialResidualNetworks

They shared the weights for tiny yolo, and the author of the darknet fork already included them in the doc: https://github.com/AlexeyAB/darknet#pre-trained-models so they seem compatible out of the box

Seems they would have 20% FPS boost, with similar accuracy.

[2019-09-17 19:28] osfa opened #125 "Error trying to run opendatacam without docker (jetson nano)"
trying to follow [this](https://opendatacam.github.io/opendatacam/documentation/USE_WITHOUT_DOCKER.html
) on jetson nano.

getting error on npm start: "Please specify the path to the raw detections file"
found some old threads about ffmpeg? installed ffmpeg3. no luck.

something with a wrong path in config?
where do the "raw detections file" need to be? what is it? darknet seems to run fine.

`"NE

[2019-09-17 19:41] tdurand commented on #125
Hi,

Could you paste the full output error ?

Did you run `npm run build` before `npm run start`

I can confirm that ffmpeg is not the issue, since ODC v2.0 we do no rely on it

Thanks

[2019-09-17 19:44] tdurand commented on #125
PS: _"Please specify the path to the raw detections file"_ isn't a meaningful error, you can ignore it. (It is there because of the node-moving-things package that just print this... need to be fixed)

[2019-09-17 20:20] osfa commented on #125
not sure. if I run on yolov3 it just freezes. if I use yolov3-tiny it just spews out 'stream stopped!
' and then "Video-stream stopped!" until I ctrl+c out. been trying to get a better error message for you for awhile now but no luck..

[2019-09-17 20:23] osfa commented on #125
aha. ok the demo video is not in the repo like for the docker install...

[2019-09-17 20:28] osfa commented on #125
trying with raspberrycam_no_docker now.

getting:

` JSON-strError with message send by YOLO, not valid JSON
Error with message send by YOLO, not valid JSON
Error with message send by YOLO, not valid JSON
Error with message send by YOLO, not valid JSON`

mixed in with some

`FPS:13.2
 MJPEG-stream sent.
Objects:

 JSON-stream sent.

FPS:12.7
 MJPEG-stream sent.
Objects:`

but after awhile it is ju

[2019-09-17 20:35] osfa commented on #125
[code]

[2019-09-17 20:48] osfa commented on #125
I'm having a really hard time gauging whether something is broken or not. The Nano really chokes and sometimes everything slows to a crawl. I'm running with a monitor is that the issue? Is this message not an actual error message with the app? Found something about that in #70

I never get to the actual application screen on localhost:8080 anyway, just the load screen.

[2019-09-17 21:08] tdurand commented on #125
Some comments:

- On jetson nano, you should run `yolov3-tiny` , otherwise nano doesn't have the power to run other weights

- From your output, seems everything is working fine, maybe the issue is that it doesn't detect any object.. have you tried to point the cam at your face ?

Maybe you can try to run on the demo file to make sure this is the issue, in order to do so:

- create an `opendatacam

[2019-09-17 21:12] tdurand commented on #125
Also yes, running with a monitor causes big slowdown... That is why we recommend doing the setup and then connecting to opendatacam ui from an external device in the "docker" guide: https://github.com/opendatacam/opendatacam/blob/master/documentation/jetson/JETSON_NANO.md

But you could SSH into your jetson nano from another devices and run the commands from there also

[2019-09-18 14:29] tdurand commented on #88
Hi @b-g , I've added a basic run on video file support that takes as input a video file and outputs a tracker.json file : https://github.com/opendatacam/opendatacam/blob/master/documentation/HEADLESS_RUN_ON_FILE.md

This is what I think to be most pragmatic way to support this right now (did this in ~1 day), but maybe not the simplest for the end user. Please check this out and let me know what yo

[2019-09-19 05:22] ItelBz opened #126 "Problem when trying to access from external port"
Hello,
I have installed OpenDataCam on a Jetson nano, all works grate but I have a problem when I try to access the OpenDataCam web page from the external port.
If I browse on jetsonip: 8080 it works but when I browse from externalip: 8080 it returns the error 500.
In my firewall I forwarded ports 8080, 8070, 8090 and 21017, ports 8070 and 8090 work properly, the only one that didn't work is port

[2019-09-19 10:58] tdurand commented on #126
Hi,

This is weird, I would think it is the machine you are trying to access from that doesn't allow 8080. Maybe try to open this url on your browser phone (if connected to the same network) to make sure...

It is not straithforward to change the port ,  you will need to change in this line: https://github.com/opendatacam/opendatacam/blob/master/server.js#L21

But to able to do it, you need to ins

[2019-09-19 20:37] b-g commented on #88
Hi @tdurand, OK. Got CUDA and NVCC running on my local machine! Yay!

Quick feedback: Followed then the steps as documented in [HEADLESS_RUN_ON_FILE.md](https://github.com/opendatacam/opendatacam/blob/master/documentation/HEADLESS_RUN_ON_FILE.md) ... However now I think the `node-moving-things-tracker` is buggy, as all coordinates are 0 and bearing is null. (maybe a rounding bug?)

[code]
Will pas

[2019-09-19 21:13] tdurand commented on #88
Fixed this in 0.7.1 of https://github.com/opendatacam/node-moving-things-tracker/releases/tag/v0.7.1 , sorry for the bug !

More upcoming progress on the run on file end integrated to opendatacam

[2019-09-19 23:40] tdurand commented on #88
Worked what we discussed today, and was much faster than expected, already have a working version for you to test, in order to install it, you should go to some empty folder and

[code]

This will launch opendatacam on the demo.mp4 file as always, but then you can edit the config file and restart the docker container to run on another one

- The infinite looping of the file is working pretty well

[2019-09-20 10:05] shams3049 commented on #114
@b-g will it be possible for you to chare the slides from Yesterday. I wanted to add them to my montly presentation, and let every one on my project be informed of progress on OpenDataCam

[2019-09-20 10:05] ItelBz commented on #126
Hi,
i've checked that the port 8080 is opened on my device, I've also tried to change port, after install opendatacam without docker, but it gives error 500 when trying to browser the page, but the json stream (port 8070) and the video stream (port 8090) are working.

Any idea?

Thank you!

[2019-09-20 10:50] tdurand commented on #126
If 8070 and 8090 works, it's definitely a problem of "firewall" on port 8080 .. either on the jetson nano side or on your other device... I would think it is on your other device that is why I asked you if you tried with another laptop / smartphone to access 8080 ?

Also you can try to start a dump server on 8080 on the jetson nano and try to access it from outside

[code]

Try to access http://IP

[2019-09-20 14:40] b-g commented on #121
Hi @anasBahou @shams3049 @tdurand @mmmmmmmmmmmmmmmm @rraapphhaaeell, many thanks for the nice call yesterday! It was great talking to you all! 🙏 Much looking forward to work more tightly on everything! 👀 Here are also the [slides](https://www.dropbox.com/s/ksx3mt05k4qvx2p/odc%201.%20contributer%20video%20call.pdf?dl=0) as a PDF file. Happy climate strike! Best, Benedikt

[2019-09-20 14:40] #121 closed

[2019-09-20 15:11] b-g commented on #88
Hi @tdurand, Mega!! Just can't get it running! :) See error below ... any idea? Much looking forward to give it a try!

[code]

[2019-09-20 15:17] tdurand commented on #88
@b-g Oups, I forgot to push to docker hub, let me fix this.

[2019-09-20 15:25] tdurand commented on #88
Do, I think you can just retry `sudo ./run-opendatacam.sh`

[2019-09-22 17:37] ItelBz commented on #126
If i try to access to http://IP:8080 it gives me error, but if I access to http://IP:8080/status (or other api links) it work. If i try with serve -l 8080 or with a simple apache server the port 8080 is working.
I attache the page with the error and the code, console is blank.
![Screenshot (459)](https://user-images.githubusercontent.com/55224997/65392016-58f46c80-dd70-11e9-801d-ea4835c39ba6.png)